{% extends "characters/mage/form/base.html" %}
{% comment %} Effect create / edit: name and description, then the Sphere ratings it needs. {% endcomment %}
{% block creation_title %}Create Effect{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% include "characters/mage/form/field.html" with field=form.description %}
    </div>
    {% include "characters/mage/form/spheres.html" %}
{% endblock contents %}
