{% extends "characters/tl/reference_list.html" %}
{% block title %}Effects{% endblock title %}
{% block gameline %}mta{% endblock gameline %}
{% block cover_label %}Effects{% endblock cover_label %}
{% block cover_title %}
    {% include "characters/tl/reference_cover_title.html" with eyebrow="Mage: the Ascension" title="Effects" line="mta" %}
{% endblock cover_title %}
{% block filters %}
    <div class="tl-ref-filters__row">
        <label class="tl-ref-max" for="cost-filter">Max cost<span class="tl-ref-max__val">≤ <input type="number" id="cost-filter" data-filter-max="cost" min="0" placeholder="any"></span></label>
    </div>
    {% include "characters/mage/effect/tl_sphere_maxes.html" %}
{% endblock filters %}
{% block ref_create %}
    <a class="tl-btn tl-btn--quiet tl-ref-new" href="{% url 'characters:mage:create:effect' %}">+ New effect</a>
{% endblock ref_create %}
{% block content %}
    <div class="tl-grid" data-filterable-list="effects">
        {% for effect in object_list %}
            <div class="tl-ref-item"
                 data-filterable-item
                 data-name="{{ effect.name|lower }}"
                 data-cost="{{ effect.rote_cost }}"
                 data-correspondence="{{ effect.correspondence }}"
                 data-entropy="{{ effect.entropy }}"
                 data-forces="{{ effect.forces }}"
                 data-life="{{ effect.life }}"
                 data-matter="{{ effect.matter }}"
                 data-mind="{{ effect.mind }}"
                 data-prime="{{ effect.prime }}"
                 data-spirit="{{ effect.spirit }}"
                 data-time="{{ effect.time }}">
                {% include "characters/mage/effect/tl_card.html" %}
            </div>
        {% endfor %}
    </div>
    {% include "characters/tl/reference_no_results.html" with text="No effects match the current filters." empty="No effects yet." %}
{% endblock content %}
