{% extends "characters/changeling/ctdhuman/detail.html" %}
{% load tl %}
{% block basics %}
    {% fact "Nature" object.nature %}
    {% fact "Demeanor" object.demeanor %}
    {% fact "Kingdom" object.get_kingdom_display %}
    {% fact "Seeming" object.get_inanimae_seeming_display %}
    {% fact "Season" object.get_season_display %}
{% endblock basics %}
{% block advantages %}
    <section class="tl-section tl-span-6" id="advantages">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Advantages</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div>
                {% track "Mana" perm=object.mana %}
                {% track "Willpower" perm=object.willpower temp=object.temporary_willpower %}
            </div>
            {% include "characters/tl/prose_block.html" with label="Anchor" text=object.anchor_description %}
            {% include "characters/tl/prose_block.html" with label="Elemental Strength" text=object.elemental_strength %}
            {% include "characters/tl/prose_block.html" with label="Elemental Weakness" text=object.elemental_weakness %}
        </div>
    </section>
{% endblock advantages %}
