{% extends "characters/werewolf/wtahuman/detail.html" %}
{% comment %}
Garou sheet (Spread C13): Gifts by rank (--acc) with Rites and Fetishes; Advantages
beside Renown; Backgrounds, Health and Merits in three columns; Appearance with the Age
of First Change; History with Childhood / First Change / Battle Scars. Experience and
Renown Incidents live on the Experience tab.
{% endcomment %}
{% block cover_sub %}
    {% if object.deed_name or object.concept %}
        <span class="tl-cover__sub">
            {% if object.deed_name %}“{{ object.deed_name }}”{% if object.concept %} · {% endif %}{% endif %}{{ object.concept }}
        </span>
    {% endif %}
{% endblock cover_sub %}
{% block basics %}
    {% include "characters/werewolf/garou/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/werewolf/tl/gifts.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/werewolf/tl/advantages.html" with pools="full" %}
    {% include "characters/werewolf/tl/renown.html" %}
{% endblock advantages %}
{% block backgrounds %}
    {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds span="tl-span-4" %}
{% endblock backgrounds %}
{% block health %}
    {% include "characters/core/human/health_block_display.html" with span="tl-span-4" %}
{% endblock health %}
{% block mfs %}
    {% include "characters/tl/merits.html" with span="tl-span-4" %}
{% endblock mfs %}
{% block appearance %}
    {% include "characters/tl/appearance.html" with extra_label="Age of First Change" extra_value=object.age_of_first_change %}
{% endblock appearance %}
{% block history %}
    {% include "characters/werewolf/tl/history.html" %}
{% endblock history %}
{% block xp %}
    {% include "characters/tl/xp_history.html" %}
    {% include "characters/werewolf/garou/tl_xp_totals.html" %}
    {% include "characters/werewolf/garou/tl_renown_incidents.html" %}
{% endblock xp %}
