{% extends "core/object.html" %}
{% block contents %}
    {% include "characters/mage/practice/display_includes/abilities.html" %}
    {% include "characters/mage/practice/display_includes/instruments.html" %}
    {% include "characters/mage/practice/display_includes/common_resonance_traits.html" %}
    {% include "characters/mage/practice/display_includes/benefit_penalty.html" %}
    {% include "characters/mage/rote/display_includes/rote_list.html" with rote_list=object.get_rotes %}
    {% block extensions %}
        {% include "characters/mage/practice/display_includes/specializations.html" %}
        {% include "characters/mage/practice/display_includes/corruptions.html" %}
    {% endblock extensions %}
    {% block specialization %}
    {% endblock specialization %}
{% endblock contents %}
