{% extends "characters/mage/form/base.html" %}
{% comment %}
Practice create / edit; corrupted and specialized practices add their fields in the
specialization block.
{% endcomment %}
{% block creation_title %}Create Practice{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% block specialization_head %}{% endblock specialization_head %}
        {% include "characters/mage/form/field.html" with field=form.abilities %}
        {% include "characters/mage/form/field.html" with field=form.instruments %}
        {% include "characters/mage/form/field.html" with field=form.common_resonance_traits label="Common Resonance traits" %}
        {% include "characters/mage/form/field.html" with field=form.description %}
        {% include "characters/mage/form/field.html" with field=form.benefit %}
        {% include "characters/mage/form/field.html" with field=form.penalty %}
        {% block specialization %}{% endblock specialization %}
    </div>
{% endblock contents %}
