{% extends "items/tl/form.html" %}
{% comment %}
Create / edit a Vampire artifact. Owners without full edit rights get
LimitedVampireArtifactEditForm (description and history only), hence the guards.
{% endcomment %}
{% block creation_title %}Create Vampire Artifact{% endblock creation_title %}
{% block contents %}
    <div class="tl-itemform">
        <div class="tl-formgrid">
            {% if form.name %}
                <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
            {% endif %}
            {% if form.power_level %}
                {% include "core/tl/field.html" with field=form.power_level label="Power level" help=form.power_level.help_text %}
            {% endif %}
            {% if form.background_cost %}
                {% include "core/tl/field.html" with field=form.background_cost label="Background cost" help=form.background_cost.help_text %}
            {% endif %}
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
        </div>
        {% if form.is_cursed %}
            <div class="tl-formgrid">
                {% include "core/misc/check.html" with field=form.is_cursed label="Cursed" %}
                {% include "core/misc/check.html" with field=form.is_unique label="Unique artifact" %}
                {% include "core/misc/check.html" with field=form.requires_blood label="Requires blood" %}
            </div>
        {% endif %}
        <div class="tl-formgrid">
            {% if form.powers %}
                <div class="tl-field--full">{% include "core/tl/field.html" with field=form.powers label="Powers & effects" %}</div>
            {% endif %}
            <div class="tl-field--full">
                {% include "core/tl/field.html" with field=form.history label="History & lore" help=form.history.help_text %}
            </div>
        </div>
    </div>
{% endblock contents %}
