{% load sanitize_text %}
{% load location_tags %}

<!-- Parent row -->
<tr class="{% if location.children.exists %}parent-row{% endif %}">
    <td>
        <div style="padding-left: {{ indent_level }}px">
            {% if location.children.exists %}
                <a href="#" class="mr-2" data-toggle="collapse" data-target="#loc-{{ location.id }}-children" aria-expanded="true">
                    <i class="fa fa-caret-down"></i>
                </a>
            {% endif %}
            <a href="{{ location.get_absolute_url }}">{{ location.name|sanitize_html }}</a>
        </div>
    </td>
    <td>
        {% if location.owner %}
            <a href="{% url 'profile' location.owner.id %}">{{ location.owner.username }}</a>
        {% endif %}
    </td>
    <td>
        <span class="badge badge-secondary">{{ location.type|title }}</span>
    </td>
</tr>

<!-- Child rows (if any) -->
{% if location.children.exists %}
    <tbody id="loc-{{ location.id }}-children" class="collapse show">
        {% for child in location.children.all %}
            {% include "locations/location_recursive.html" with location=child indent_level=indent_level|add:"20" %}
        {% endfor %}
    </tbody>
{% endif %}