{% load sanitize_text %}
{% load location_tags %}

<!-- Parent item -->
<div class="list-group-item">
    <div class="d-flex align-items-center" style="padding-left: {{ indent_level }}px">
        {% if location.children.exists %}
            <a href="#loc-{{ location.id }}-children" 
               class="btn btn-link btn-sm p-0 mr-2" 
               data-toggle="collapse" 
               role="button" 
               aria-expanded="true" 
               aria-controls="loc-{{ location.id }}-children">
                <i class="fas fa-chevron-down"></i>
            </a>
        {% else %}
            <span class="mr-2"></span>
        {% endif %}
        <div class="flex-grow-1">
            <a href="{{ location.get_absolute_url }}" class="location-link">{{ location.name|sanitize_html }}</a>
        </div>
        <div class="ml-3">
            {% if location.owner %}
                <a href="{% url 'profile' location.owner.id %}" class="text-muted">{{ location.owner.username }}</a>
            {% endif %}
        </div>
        <div class="ml-3">
            <span class="tg-badge {{ location.get_badge_class }} badge-pill">{{ location.get_type }}</span>
        </div>
    </div>
</div>

<!-- Child items (if any) -->
{% if location.children.exists %}
    <div id="loc-{{ location.id }}-children" class="collapse show">
        {% for child in location.children.all %}
            {% include "locations/location_recursive.html" with location=child indent_level=indent_level|add:"30" %}
        {% endfor %}
    </div>
{% endif %}