{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Cult Temple{% endblock creation_title %}
{% block form_line %}mtr{% endblock form_line %}
{% block formdetails %}method="post" id="cultTempleForm" action="" novalidate{% endblock formdetails %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Cult</h2>
            <div class="tl-formgrid tl-formgrid--2">
                {% include "locations/tl/field.html" with field=form.cult_size label="Cult size" %}
                {% include "locations/tl/field.html" with field=form.public_cover label="Public cover" %}
                {% include "locations/tl/field.html" with field=form.cult_leader_name label="Cult leader" %}
                {% include "locations/tl/field.html" with field=form.cult_wealth label="Cult wealth" %}
                {% include "locations/tl/field.html" with field=form.has_library label="Has library" %}
                {% include "locations/tl/field.html" with field=form.has_ritual_chamber label="Has ritual chamber" %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
{% endblock contents %}
