{% extends "items/tl/list.html" %}
{% block title %}Dross{% endblock title %}
{% block gameline %}ctd{% endblock gameline %}
{% block eyebrow %}Changeling{% endblock eyebrow %}
{% block heading %}Dross{% endblock heading %}
{% block columns %}
    <th scope="col">Quality</th>
    <th scope="col">Form</th>
{% endblock columns %}
{% block row %}
    <td>{{ obj.get_quality_display }}</td>
    <td class="tl-itemtable__type">{{ obj.get_physical_form_display }}</td>
{% endblock row %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No dross found." %}
{% endblock empty %}
