<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Freebie Spend</h2>
</div>
{% if object.freebies > 0 %}
    <div class="row">
        <div class="col-sm">Spend Freebie points. The costs are as follows:</div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">
            <b>Trait</b>
        </div>
        <div class="col-sm-3 border">
            <b>Cost</b>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Attribute</div>
        <div class="col-sm-3 border">5</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Ability</div>
        <div class="col-sm-3 border">2</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Background</div>
        <div class="col-sm-3 border">1</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Willpower</div>
        <div class="col-sm-3 border">1</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Merits/Flaws</div>
        <div class="col-sm-3 border">Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Discipline (In-Clan)</div>
        <div class="col-sm-3 border">7</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Discipline (Out of Clan)</div>
        <div class="col-sm-3 border">10</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Virtue</div>
        <div class="col-sm-3 border">2</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Humanity/Path</div>
        <div class="col-sm-3 border">1</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Freebies Remaining</h3>
        <h3 class="col-sm {{ object.get_heading }}">{{ object.freebies }}</h3>
    </div>
{% endif %}
{% if form.non_field_errors %}
    <div class="row mb-2">
        <div class="col-sm">
            <div class="text-danger" style="font-size: 0.875rem;">{{ form.non_field_errors }}</div>
        </div>
    </div>
{% endif %}
<div id="freebies-form"
     data-load-examples-url="{% url 'characters:vampire:ajax:load_vampire_examples' %}"
     data-load-values-url="{% url 'characters:ajax:load_values' %}"
     data-object-id="{{ object.id }}"
     data-is-group-member="{{ object.is_group_member|yesno:'true,false' }}">
<div class="row">
    <div class="col-sm">
        {{ form.category }}
        {% if form.category.errors %}
            <div class="text-danger" style="font-size: 0.875rem;">{{ form.category.errors }}</div>
        {% endif %}
    </div>
    <div class="col-sm d-none" id="example_wrap">
        {{ form.example }}
        {% if form.example.errors %}
            <div class="text-danger" style="font-size: 0.875rem;">{{ form.example.errors }}</div>
        {% endif %}
    </div>
    <div class="col-sm d-none" id="value_wrap">
        {{ form.value }}
        {% if form.value.errors %}
            <div class="text-danger" style="font-size: 0.875rem;">{{ form.value.errors }}</div>
        {% endif %}
    </div>
    <div class="col-sm d-none" id="note_wrap">
        {{ form.note }}
        {% if form.note.errors %}
            <div class="text-danger" style="font-size: 0.875rem;">{{ form.note.errors }}</div>
        {% endif %}
    </div>
    <div class="col-sm d-none" id="pooled_wrap">
        Pooled? {{ form.pooled }}
        {% if form.pooled.errors %}
            <div class="text-danger" style="font-size: 0.875rem;">{{ form.pooled.errors }}</div>
        {% endif %}
    </div>
</div>
{% for item in object.spent_freebies %}
    <div class="row">
        <div class="col-sm">{{ item.trait }} {{ item.value }}</div>
        <div class="col-sm">{{ item.cost }} freebies</div>
    </div>
{% endfor %}
</div>
{% load static %}
<script src="{% static 'js/vampire-freebies-form.js' %}"></script>
