{% load tl %}
{% comment %}
Vampire advantages: Willpower (dots + squares), Humanity or Path rating (dots only) and
Blood pool (squares up to max_blood_pool).
{% endcomment %}
<section class="tl-section tl-span-5" id="advantages">
    <div class="tl-section__head">
        <span class="tl-section__num"></span>
        <h2 class="tl-section__title">Advantages</h2>
    </div>
    <div class="tl-section__body">
        {% track "Willpower" perm=object.willpower temp=object.temporary_willpower %}
        {% if object.path %}
            {% track "Path rating" perm=object.path_rating %}
        {% else %}
            {% track "Humanity" perm=object.humanity %}
        {% endif %}
        {% track "Blood pool" temp=object.blood_pool total=object.max_blood_pool mod="wrap" %}
    </div>
</section>
