{% if object.posthumous or object.only_once or object.breed or object.rite %}
    <div class="col-md mb-3">
        <div class="tg-card h-100">
            <div class="tg-card-header">
                <h5 class="mb-0">Requirements</h5>
            </div>
            <div class="tg-card-body">
                <div class="d-flex flex-wrap">
                    {% if object.posthumous %}<span class="tg-badge badge-primary mr-1">Posthumous</span>{% endif %}
                    {% if object.only_once %}<span class="tg-badge badge-secondary mr-1">Only Once</span>{% endif %}
                    {% if object.breed %}<span class="tg-badge badge-info mr-1">{{ object.breed|title }}-only</span>{% endif %}
                    {% if object.rite %}<span class="tg-badge badge-success mr-1">{{ object.rite.name }} Rite Required</span>{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
