{% extends "game/tl/form.html" %}
{% block title %}{% if object.pk %}Update Week{% else %}Create Week{% endif %}{% endblock title %}
{% block form_eyebrow %}{% if object.pk %}Edit · Week{% else %}New week{% endif %}{% endblock form_eyebrow %}
{% block form_title %}{% if object.pk %}{{ object.start_date|date:"j M" }} – {{ object.end_date|date:"j M" }}{% else %}Create Week{% endif %}{% endblock form_title %}
{% block cancel_url %}{% if object.pk %}{{ object.get_absolute_url }}{% else %}{% url 'game:week:list' %}{% endif %}{% endblock cancel_url %}
