{% extends "items/mage/wonder/detail.html" %}
{% load sanitize_text dots %}
{% block contents %}
    <div class="container py-4">
        <div class="row mb-4">
            <div class="col-12">
                <div class="card location-header-card">
                    <div class="card-body">
                        <h1 class="{{ object.get_heading }}">
                            {{ object.name }}
                            {% if object.rank %}
                                <small><span class="dots colored-dots">{{ object.rank|dots }}</span></small>
                            {% endif %}
                        </h1>
                        {% if object.parent %}
                            <p class="card-subtitle mb-0 text-muted">
                                Located in: <a href="{{ object.parent.get_absolute_url }}">{{ object.parent.name }}</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block creation %}
            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <div class="card location-card h-100">
                        <div class="card-header {{ object.get_heading }}">
                            <h5 class="mb-0 heading-text">Creation Details</h5>
                        </div>
                        {% include "characters/mage/faction/faction_include.html" %}
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h6 class="{{ object.get_heading }} heading-text">Primer</h6>
                                </div>
                                <div class="col-6">
                                    {% if object.is_primer %}
                                        <span class="badge badge-warning">Primer</span>
                                    {% else %}
                                        <span class="text-muted">Not a primer</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h6 class="{{ object.get_heading }} heading-text">Background Cost</h6>
                                </div>
                                <div class="col-6">
                                    {{ object.background_cost }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h6 class="{{ object.get_heading }} heading-text">Maximum Quintessence</h6>
                                </div>
                                <div class="col-6">
                                    {{ object.quintessence_max }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card location-card h-100">
                        <div class="card-header {{ object.get_heading }}">
                            <h5 class="mb-0 heading-text">Physical Properties</h5>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h6 class="{{ object.get_heading }} heading-text">Medium</h6>
                                </div>
                                <div class="col-6">
                                    <a href="{{ object.medium.get_absolute_url }}" class="node-link">{{ object.medium }}</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h6 class="{{ object.get_heading }} heading-text">Cover Material</h6>
                                </div>
                                <div class="col-6">
                                    <a href="{{ object.cover_material.get_absolute_url }}" class="node-link">{{ object.cover_material }}</a>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <h6 class="{{ object.get_heading }} heading-text">Inner Material</h6>
                                </div>
                                <div class="col-6">
                                    <a href="{{ object.inner_material.get_absolute_url }}" class="node-link">{{ object.inner_material }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card location-card">
                        <div class="card-header {{ object.get_heading }}">
                            <h5 class="mb-0 heading-text">Historical Details</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <h6 class="{{ object.get_heading }} heading-text">Length</h6>
                                        </div>
                                        <div class="col-6">
                                            {{ object.length }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <h6 class="{{ object.get_heading }} heading-text">Date Written</h6>
                                        </div>
                                        <div class="col-6">
                                            {{ year }}
                                            {% if object.date_written > 0 %}
                                                AD
                                            {% else %}
                                                BC
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <h6 class="{{ object.get_heading }} heading-text">Language</h6>
                                        </div>
                                        <div class="col-6">
                                            <a href="{{ object.language.get_absolute_url }}" class="node-link">{{ object.language }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock creation %}

        {% block powers %}
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card location-card">
                        <div class="card-header {{ object.get_heading }}">
                            <h5 class="mb-0 heading-text">Teachings</h5>
                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h6 class="{{ object.get_heading }} heading-text">Paradigms</h6>
                                        </div>
                                        <div class="col-12">
                                            {{ paradigms| safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h6 class="{{ object.get_heading }} heading-text">Practices</h6>
                                        </div>
                                        <div class="col-12">
                                            {{ practices| safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h6 class="{{ object.get_heading }} heading-text">Instruments</h6>
                                        </div>
                                        <div class="col-12">
                                            {{ instruments| safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h6 class="{{ object.get_heading }} heading-text">Abilities</h6>
                                        </div>
                                        <div class="col-12">
                                            {{ abilities| safe }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h6 class="{{ object.get_heading }} heading-text">Spheres</h6>
                                        </div>
                                        <div class="col-12">
                                            {{ spheres| safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include "characters/mage/rote/rotes_include.html" %}
        {% endblock powers %}
    </div>
{% endblock contents %}
