{% extends "characters/changeling/ctdhuman/detail.html" %}
{% load tl %}
{% block basics %}
    {% fact "Nature" object.nature %}
    {% fact "Demeanor" object.demeanor %}
    {% fact "Tribe" object.get_tribe_display %}
    {% fact "Seeming" object.get_nunnehi_seeming_display %}
    {% fact "Path" object.get_path_display %}
    {% fact "Spirit Guide" object.spirit_guide %}
{% endblock basics %}
{% block advantages %}
    <section class="tl-section tl-span-6" id="advantages">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Advantages</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div>
                {% track "Medicine" perm=object.spirit_medicine %}
                {% track "Willpower" perm=object.willpower temp=object.temporary_willpower %}
            </div>
            {% include "characters/tl/prose_block.html" with label="Sacred Place" text=object.sacred_place %}
            {% include "characters/tl/prose_block.html" with label="Tribal Duty" text=object.tribal_duty %}
        </div>
    </section>
{% endblock advantages %}
