{% extends "game/tl/form.html" %}
{% load tl %}
{% block title %}Submit Weekly XP Request{% endblock title %}
{% block gameline %}{{ character|gameline_code }}{% endblock gameline %}
{% block cover_kind %}line{% endblock cover_kind %}
{% block form_eyebrow %}Weekly XP request · {{ week.start_date|date:"j M" }} – {{ week.end_date|date:"j M" }}{% endblock form_eyebrow %}
{% block form_title %}{{ character.name }}{% endblock form_title %}
{% block form_intro %}
    <p class="tl-lede">
        You automatically receive 1 XP for finishing a scene. You may claim up to 4 additional XP
        by selecting the categories below and providing the relevant scenes.
    </p>
{% endblock form_intro %}
{% block fields %}
    {% include "game/tl/fields.html" with skip="finishing" %}
{% endblock fields %}
{% block submit_label %}Submit request{% endblock submit_label %}
{% block cancel_url %}{{ week.get_absolute_url }}{% endblock cancel_url %}
