{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}vtm{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:vampire:list:path' %}">← Paths</a>{% endblock ref_back %}
{% block ref_eyebrow %}Path of Enlightenment · Vampire{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% fact "Required virtues" object.get_virtues_display %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% include "characters/tl/ref2_prose.html" with title="Ethics" text=object.ethics power=True %}
{% endblock ref_sections %}
