{% extends "core/form.html" %}
{% block creation_title %}
    {% if object %}Edit{% else %}Create{% endif %} Path of Enlightenment
{% endblock creation_title %}
{% block creation_title_2 %}
    {% if object %}Edit{% else %}Create{% endif %} Path of Enlightenment
{% endblock creation_title_2 %}
{% block contents %}
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
        </div>
        <div class="col-sm-9">{{ form.name }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.requires_conviction.id_for_label }}" class="form-label">Requires Conviction</label>
        </div>
        <div class="col-sm-9">{{ form.requires_conviction }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.requires_instinct.id_for_label }}" class="form-label">Requires Instinct</label>
        </div>
        <div class="col-sm-9">{{ form.requires_instinct }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.ethics.id_for_label }}" class="form-label">Ethics</label>
        </div>
        <div class="col-sm-9">{{ form.ethics }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
        </div>
        <div class="col-sm-9">{{ form.description }}</div>
    </div>
{% endblock contents %}
