{% extends "characters/tl/ref2_list.html" %}
{% load tl %}
{% block title %}Paths of Enlightenment{% endblock title %}
{% block gameline %}vtm{% endblock gameline %}
{% block ref_eyebrow %}Vampire: the Masquerade{% endblock ref_eyebrow %}
{% block ref_title %}Paths of Enlightenment{% endblock ref_title %}
{% block ref_title_class %}{{ "Paths of Enlightenment"|cover_title_class:"vtm" }}{% endblock ref_title_class %}
{% block ref_list %}
    <table class="tl-table ref2-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="ref2-table__type">Virtues</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr data-filterable-item data-name="{{ obj.name|lower }}">
                    <td class="ref2-table__name"><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                    <td class="ref2-table__type">{{ obj.get_virtues_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock ref_list %}
{% block ref_empty %}
    {% include "core/tl/empty.html" with text="No paths found." %}
{% endblock ref_empty %}
