{% comment %}
The chantry's Integrated Effects as rows (name, spheres) for the chantry generator; renders
nothing when it has none. The detail page uses tl/integrated_effects.html.
{% endcomment %}
{% with effects=object.integrated_effects.all %}
    {% if effects %}
        <section class="tl-locgroup tl-locgroup--power" id="integrated-effects">
            <h2 class="tl-subhead">Integrated effects</h2>
            <div>
                {% for effect in effects %}
                    <div class="tl-scenerow">
                        <span class="tl-scenerow__name"><a href="{{ effect.get_absolute_url }}">{{ effect.name }}</a></span>
                        <span class="tl-scenerow__when">{{ effect.spheres }}</span>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endwith %}
