{% extends "locations/core/location/detail.html" %}
{% load tl sanitize_text %}
{% block cover_sub %}
    {% if object.leader %}<span class="tl-cover__sub">Led by {{ object.leader }}</span>{% endif %}
{% endblock cover_sub %}
{% block type_facts %}
    {% fact "Government" object.get_government_type_display %}
    {% fact "Hierarchy" object.get_hierarchy_relation_display %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-section--power tl-span-6" id="freehold">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Freehold</h2>
        </div>
        <div class="tl-section__body tl-stats">
            {% include "locations/tl/stat.html" with label="Population" value=object.population %}
            {% include "locations/tl/stat.html" with label="Defense rating" value=object.defense_rating of=10 %}
            {% include "locations/tl/stat.html" with label="Resource level" value=object.resource_level of=10 %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="features">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Features</h2>
        </div>
        <ul class="tl-section__body tl-plainlist tl-stack">
            {% if object.has_soulforges %}<li>Contains soulforging facilities</li>{% endif %}
            {% if object.has_library %}<li>Contains significant library or archives</li>{% endif %}
            {% if object.has_safe_passage %}<li>Offers safe passage through territory</li>{% endif %}
            {% if object.hidden %}<li>Location is hidden or secret</li>{% endif %}
            {% if not object.has_soulforges and not object.has_library and not object.has_safe_passage and not object.hidden %}
                <li class="tl-muted">No special features</li>
            {% endif %}
        </ul>
    </section>
    {% if object.allied_factions or object.founding_principle %}
        <section class="tl-section" id="politics">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Allegiances</h2>
            </div>
            <div class="tl-section__body tl-cols tl-cols--2">
                {% include "characters/tl/prose_block.html" with label="Allied factions" text=object.allied_factions %}
                {% include "characters/tl/prose_block.html" with label="Founding principle" text=object.founding_principle %}
            </div>
        </section>
    {% endif %}
{% endblock model_specific %}
