{% extends "locations/core/location/form.html" %}
{% block creation_title %}
    Create Wraith Freehold
{% endblock creation_title %}
{% block other %}
    <div class="row">
        <div class="col-sm">{{ form.population }}</div>
        <div class="col-sm">{{ form.government_type }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.leader }}</div>
        <div class="col-sm">{{ form.hierarchy_relation }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.defense_rating }}</div>
        <div class="col-sm">{{ form.resource_level }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.allied_factions }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.founding_principle }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.has_soulforges }}</div>
        <div class="col-sm">{{ form.has_library }}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{ form.has_safe_passage }}</div>
        <div class="col-sm">{{ form.hidden }}</div>
    </div>
{% endblock other %}
