Django==5.1.14
django-polymorphic==3.1.0
django-smart-selects==1.6.0
django-tinymce4-lite==1.8.0
django-crispy-forms==2.5
crispy-bootstrap4==2025.6
requests==2.32.5
# python==3.10 - note for setting up environment, it should be 3.10
pillow==11.1.0
pytest==8.3.4
pytest-django==4.9.0
djlint==1.36.4
selenium==4.27.1
numpy==2.2.2
bleach==6.2.0
python-dotenv==1.0.1