<div class="row mb-4">
    <div class="col-12">
        <div class="card location-card">
            <div class="card-header {{ object.get_heading }} d-flex justify-content-between align-items-center">
                <h5 class="mb-0 heading-text">Rotes</h5>
                {% if object.rote_points is not None %}
                    <span class="badge badge-light">{{ object.rote_points }} Rote Points</span>
                {% else %}
                    <span class="badge badge-light">{{ rote_list.count }} Rotes</span>
                {% endif %}
            </div>
            <div class="card-body text-center">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4 justify-content-center" id="rote-list">
                        {% for obj in rote_list.all %}
                        <div class="col-3 mb-4">
                            {% include "characters/mage/rote/summary.html" with object=obj %}
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="alert alert-info mb-0">No rotes available.</div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>
