{% extends "core/form.html" %}
{% block progress %}
    {% include "characters/core/chargen_progress.html" %}
{% endblock progress %}
{% block contents %}
    {% if object_perms.can_chargen %}
        <h2 class="{{ object.get_heading }}">{{ step.label }}</h2>
        {% if skip_step %}
            {% include "characters/core/chargen/skip.html" %}
        {% else %}
            {{ form.media }}
            {% include step.template %}
        {% endif %}
    {% else %}
        {% include "characters/core/character/not_owner.html" %}
    {% endif %}
{% endblock contents %}
{% block buttons %}
    {% if object_perms.can_chargen %}
        {% if step.key != "freebies" or object.freebies_approved %}
            {{ block.super }}
        {% endif %}
    {% endif %}
{% endblock buttons %}
