{% extends "characters/core/human/form.html" %}
{% load dots %}
{% load get_specialty %}
{% block creation_title %}
    Create Human (Vampire)
{% endblock creation_title %}
{% block abilities %}
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Abilities</h2>
    </div>
    <div class="row">
        <h3 class="col-sm {{ object.get_heading }}">Talents</h3>
        <h3 class="col-sm {{ object.get_heading }}">Skills</h3>
        <h3 class="col-sm {{ object.get_heading }}">Knowledges</h3>
    </div>
    <div class="row">
        <div class="col-sm">
            Alertness
            {% with spec=object|get_specialty:'alertness' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.alertness|dots }}</div>
        <div class="col-sm">
            Crafts
            {% with spec=object|get_specialty:'crafts' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.crafts|dots }}</div>
        <div class="col-sm">
            Academics
            {% with spec=object|get_specialty:'academics' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.academics|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Art
            {% with spec=object|get_specialty:'art' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.art|dots }}</div>
        <div class="col-sm">
            Drive
            {% with spec=object|get_specialty:'drive' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.drive|dots }}</div>
        <div class="col-sm">
            Computer
            {% with spec=object|get_specialty:'computer' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.computer|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Athletics
            {% with spec=object|get_specialty:'athletics' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.athletics|dots }}</div>
        <div class="col-sm">
            Etiquette
            {% with spec=object|get_specialty:'etiquette' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.etiquette|dots }}</div>
        <div class="col-sm">
            Cosmology
            {% with spec=object|get_specialty:'cosmology' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.cosmology|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Awareness
            {% with spec=object|get_specialty:'awareness' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.awareness|dots }}</div>
        <div class="col-sm">
            Firearms
            {% with spec=object|get_specialty:'firearms' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.firearms|dots }}</div>
        <div class="col-sm">
            Enigmas
            {% with spec=object|get_specialty:'enigmas' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.enigmas|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Brawl
            {% with spec=object|get_specialty:'brawl' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.brawl|dots }}</div>
        <div class="col-sm">
            Larceny
            {% with spec=object|get_specialty:'larceny' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.larceny|dots }}</div>
        <div class="col-sm">
            Finance
            {% with spec=object|get_specialty:'finance' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.finance|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Empathy
            {% with spec=object|get_specialty:'empathy' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.empathy|dots }}</div>
        <div class="col-sm">
            Meditation
            {% with spec=object|get_specialty:'meditation' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.meditation|dots }}</div>
        <div class="col-sm">
            Investigation
            {% with spec=object|get_specialty:'investigation' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.investigation|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Expression
            {% with spec=object|get_specialty:'expression' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.expression|dots }}</div>
        <div class="col-sm">
            Melee
            {% with spec=object|get_specialty:'melee' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.melee|dots }}</div>
        <div class="col-sm">
            Law
            {% with spec=object|get_specialty:'law' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.law|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Intimidation
            {% with spec=object|get_specialty:'intimidation' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.intimidation|dots }}</div>
        <div class="col-sm">
            Research
            {% with spec=object|get_specialty:'research' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.research|dots }}</div>
        <div class="col-sm">
            Medicine
            {% with spec=object|get_specialty:'medicine' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.medicine|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Leadership
            {% with spec=object|get_specialty:'leadership' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.leadership|dots }}</div>
        <div class="col-sm">
            Stealth
            {% with spec=object|get_specialty:'stealth' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.stealth|dots }}</div>
        <div class="col-sm">
            Occult
            {% with spec=object|get_specialty:'occult' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.occult|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Streetwise
            {% with spec=object|get_specialty:'streetwise' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.streetwise|dots }}</div>
        <div class="col-sm">
            Survival
            {% with spec=object|get_specialty:'survival' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.survival|dots }}</div>
        <div class="col-sm">
            Politics
            {% with spec=object|get_specialty:'politics' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.politics|dots }}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            Subterfuge
            {% with spec=object|get_specialty:'subterfuge' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.subterfuge|dots }}</div>
        <div class="col-sm">
            Technology
            {% with spec=object|get_specialty:'technology' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.technology|dots }}</div>
        <div class="col-sm">
            Science
            {% with spec=object|get_specialty:'science' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
        </div>
        <div class="col-sm dots">{{ form.science|dots }}</div>
    </div>
    <div class="row">
        <h2 class="col-sm {{ object.get_heading }}">Secondary Abilities</h2>
    </div>
    {% for tal, ski, kno in object.get_secondaries_for_display %}
        <div class="row">
            <div class="col-sm">
                {{ tal|first }}
                {% with talname=tal|last %}
                    {% if object|get_specialty:talname %}({{ object|get_specialty:talname }}){% endif %}
                {% endwith %}
            </div>
            {% if tal|slice:"1:"|first != 0 %}
                <div class="col-sm dots">{{ tal|slice:"1:"|first|dots }}</div>
            {% else %}
                <div class="col-sm dots"></div>
            {% endif %}
            <div class="col-sm">
                {{ ski|first }}
                {% with skiname=ski|last %}
                    {% if object|get_specialty:skiname %}({{ object|get_specialty:skiname }}){% endif %}
                {% endwith %}
            </div>
            {% if ski|slice:"1:"|first != 0 %}
                <div class="col-sm dots">{{ ski|slice:"1:"|first|dots }}</div>
            {% else %}
                <div class="col-sm dots"></div>
            {% endif %}
            <div class="col-sm">
                {{ kno|first }}
                {% with knoname=kno|last %}
                    {% if object|get_specialty:knoname %}({{ object|get_specialty:knoname }}){% endif %}
                {% endwith %}
            </div>
            {% if kno|slice:"1:"|first != 0 %}
                <div class="col-sm dots">{{ kno|slice:"1:"|first|dots }}</div>
            {% else %}
                <div class="col-sm dots"></div>
            {% endif %}
        </div>
    {% endfor %}
    {% if form.faction.name == "Akashayana" %}
        <div class="row">
            <div class="col-sm">
                Do
                {% with spec=object|get_specialty:'do' %}{% if spec %}({{ spec }}){% endif %}{% endwith %}
            </div>
            <div class="col-sm dots">{{ form.do|dots }}</div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
        </div>
    {% endif %}
{% endblock abilities %}
