{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}htr{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:hunter:list:creed' %}">← Creeds</a>{% endblock ref_back %}
{% block ref_eyebrow %}Creed · Hunter{% endblock ref_eyebrow %}
{% block ref_name_class %}{{ object.name|cover_title_class:"htr" }}{% endblock ref_name_class %}
{% block ref_after_name %}
    {% if object.nickname %}<span class="tl-cover__sub">{{ object.nickname }}</span>{% endif %}
{% endblock ref_after_name %}
{% block ref_facts %}
    {% fact "Primary virtue" object.get_primary_virtue_display %}
    {% if object.favored_edges %}
        <div class="tl-facts__row">
            <span class="tl-facts__k">Favored edges</span>
            <span class="tl-facts__v">{% for edge in object.favored_edges %}{{ edge }}{% if not forloop.last %} · {% endif %}{% endfor %}</span>
        </div>
    {% endif %}
{% endblock ref_facts %}
{% block ref_actions %}
    {% if user.is_authenticated %}
        <a class="tl-btn tl-btn--ghost" href="{% url 'characters:hunter:update:creed' object.pk %}">Edit</a>
    {% endif %}
{% endblock ref_actions %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% include "characters/tl/ref2_prose.html" with title="Philosophy" text=object.philosophy power=True %}
{% endblock ref_sections %}
