{% extends "core/form.html" %}
{% block content_mod %}{% endblock content_mod %}
{% block creation_title %}Create Creed{% endblock creation_title %}
{% block errors %}{% include "core/misc/form_errors.html" %}{% endblock errors %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.nickname %}
        {% include "core/tl/field.html" with field=form.primary_virtue %}
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.philosophy %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.favored_edges %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
    </div>
{% endblock contents %}
