{% load tl %}
<section class="tl-section tl-section--cols" id="attributes">
    <div class="tl-section__head">
        <span class="tl-section__num"></span>
        <h2 class="tl-section__title">Attributes</h2>
    </div>
    <div class="tl-section__body tl-cols">
        {% for heading, rows in object.attribute_sections %}
            <div class="tl-col">
                <span class="tl-col__head">{{ heading }}</span>
                {% for label, rating, specialty in rows %}{% trait label rating specialty %}{% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
