{% if object.integrated_effects.all %}
    <div class="tg-card mb-4">
        <div class="tg-card-header">
            <h5 class="tg-card-title mta_heading">Integrated Effects</h5>
        </div>
        <div class="tg-card-body">
            <div class="row">
                {% for effect in object.integrated_effects.all %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                        <div class="tg-card h-100">
                            <div class="tg-card-body">
                                <h5 class="tg-card-title mta_heading">
                                    <a href="{{ effect.get_absolute_url }}">{{ effect.name }}</a>
                                </h5>
                                <p>{{ effect.spheres }}</p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col">
                        <p class="text-muted mb-0">No integrated effects available.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
