{% extends "locations/core/location/detail.html" %}
{% load sanitize_text dots %}
{% block model_specific %}
    {% include "locations/mage/chantry/display_includes/basics.html" %}
    {% if object.creation_status == 1 %}
        {% include "locations/mage/chantry/display_includes/resources_remaining.html" %}
    {% endif %}
    {% include "characters/core/background_block/detail.html" with backgrounds=object.backgrounds %}
    {% include "locations/mage/chantry/display_includes/integrated_effects.html" %}
{% endblock model_specific %}
{% block additional_content %}
    {% include "locations/mage/chantry/display_includes/members.html" %}
{% endblock additional_content %}
