{% load static %}
{% comment %}
Chantry generator, Integrated Effects step (ChantryEffectsForm): the effects bought so far,
then pick an existing effect or create one. chantry-effects.js swaps "effect selection" and
"effect creation" (keep those ids) when #id_select_or_create changes.
{% endcomment %}
{% include "locations/mage/chantry/tl/effect_rows.html" %}
<section class="tl-locgroup tl-locgroup--power">
    <h2 class="tl-subhead">Add an effect</h2>
    {% include "core/misc/check.html" with field=form.select_or_create label="Create a new effect" %}
    <div id="effect selection">
        {% include "core/tl/field.html" with field=form.select label="Existing effect" %}
    </div>
    <div id="effect creation" class="d-none tl-stack tl-stack--lg">
        {% include "core/tl/field.html" with field=form.name label="Name" %}
        <div class="tl-formgrid">
            {% include "core/tl/field.html" with field=form.correspondence %}
            {% include "core/tl/field.html" with field=form.life %}
            {% include "core/tl/field.html" with field=form.prime %}
            {% include "core/tl/field.html" with field=form.entropy %}
            {% include "core/tl/field.html" with field=form.matter %}
            {% include "core/tl/field.html" with field=form.spirit %}
            {% include "core/tl/field.html" with field=form.forces %}
            {% include "core/tl/field.html" with field=form.mind %}
            {% include "core/tl/field.html" with field=form.time %}
        </div>
        {% include "core/tl/field.html" with field=form.description label="Systems" %}
    </div>
</section>
<script src="{% static 'locations/js/chantry-effects.js' %}"></script>
