{% load static %}
{% include "locations/mage/chantry/display_includes/integrated_effects.html" %}
<div class="row">
    <div class="col-sm">Create New Effect: {{ form.select_or_create }}</div>
</div>
<div id="effect selection">
    <div class="row">
        <div class="col-sm">{{ form.select }}</div>
    </div>
</div>
<div id="effect creation" class="d-none">
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    {% include "characters/mage/spheres/form.html" %}
    <div class="row">
        <div class="col-sm">Systems</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'locations/js/chantry-effects.js' %}"></script>
