{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    {% if user.is_authenticated %}
        <a class="tl-btn tl-btn--block" href="{% url 'locations:mage:create:chantry' %}">Create Chantry</a>
    {% endif %}
    {% if user.is_authenticated and can_create_directly %}
        <a class="tl-btn tl-btn--ghost tl-btn--block" href="{% url 'locations:mage:create:chantry_direct' %}">Create directly</a>
    {% endif %}
{% endblock create %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No chantries found." %}
{% endblock empty %}
