{% comment %}
Chantry step of the Mage-family character wizards (ChantrySelectOrCreateForm): join an
existing chantry with the background's points, or found a new one. create_or_select.js
swaps the two data-create-or-select-container blocks (keep those attributes and the
initial d-none) when create_new changes.
{% endcomment %}
<div class="tl-locform">
    <p class="tl-lede">
        Add the {{ current_background.rating }} points of your Chantry Background to an existing chantry, or found a new one.
    </p>
    {% include "core/misc/check.html" with field=form.create_new label="Create a new chantry" %}
    <div data-create-or-select-container="{{ form.create_new.name }}" data-create-or-select-mode="select">
        {% include "core/tl/field.html" with field=form.existing_chantry label="Existing chantry" %}
    </div>
    <div data-create-or-select-container="{{ form.create_new.name }}" data-create-or-select-mode="create" class="d-none tl-locform">
        <p class="tl-note">The new chantry starts with {{ current_background.rating }} points; you spend them in the chantry generator.</p>
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Chantry</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.faction %}
                {% include "locations/tl/field.html" with field=form.season %}
                {% include "locations/tl/field.html" with field=form.chantry_type label="Type" %}
                {% include "locations/tl/field.html" with field=form.leadership_type label="Leadership type" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Barriers</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.gauntlet %}
                {% include "locations/tl/field.html" with field=form.shroud %}
                {% include "locations/tl/field.html" with field=form.dimension_barrier %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
</div>
