{% extends "characters/werewolf/tl/form.html" %}
{% block creation_title %}Create Kinfolk{% endblock creation_title %}
{% block formdetails %}method="post" id="kinfolkForm" action="" novalidate enctype="multipart/form-data"{% endblock formdetails %}
{% block contents %}
    <p class="tl-lede">Decide identity and motivation; choose concept, Tribe, Breed, Relation and Archetypes.</p>
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.concept %}
        {% include "core/tl/field.html" with field=form.chronicle %}
        {% include "core/tl/field.html" with field=form.nature %}
        {% include "core/tl/field.html" with field=form.demeanor %}
        {% include "core/tl/field.html" with field=form.tribe %}
        {% include "core/tl/field.html" with field=form.breed %}
        {% include "core/tl/field.html" with field=form.relation %}
    </div>
    {% include "characters/werewolf/tl/basics_portrait.html" %}
{% endblock contents %}
