{% extends "characters/werewolf/wtahuman/detail.html" %}
{% comment %}Kinfolk sheet: the Garou pieces for what Kinfolk have (Gifts, Gnosis, Renown).{% endcomment %}
{% block basics %}
    {% include "characters/werewolf/kinfolk/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/werewolf/tl/gifts.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/werewolf/tl/advantages.html" with pools="nonzero" %}
    {% include "characters/werewolf/tl/renown.html" %}
{% endblock advantages %}
{% block backgrounds %}
    {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds span="tl-span-4" %}
{% endblock backgrounds %}
{% block health %}
    {% include "characters/core/human/health_block_display.html" with span="tl-span-4" %}
{% endblock health %}
{% block mfs %}
    {% include "characters/tl/merits.html" with span="tl-span-4" %}
{% endblock mfs %}
