{% extends "characters/hunter/htrhuman/detail.html" %}
{% comment %}
Hunter sheet (C20): Edges (--acc) across the page, Advantages beside Virtues, then
Backgrounds / Health / Merits as on every human sheet.
{% endcomment %}
{% block basics %}
    {% include "characters/hunter/hunter/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/hunter/hunter/edges_block_display.html" %}
{% endblock powers %}
{% block backgrounds %}{% endblock backgrounds %}
{% block line %}
    {% include "characters/hunter/hunter/virtues_block_display.html" %}
    {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds span="tl-span-6" %}
{% endblock line %}
