{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}vtm{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:vampire:list:clan' %}">← Clans</a>{% endblock ref_back %}
{% block ref_eyebrow %}{% if object.is_bloodline %}Bloodline{% else %}Clan{% endif %} · Vampire{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% if object.nickname %}{% fact "Nickname" object.nickname %}{% endif %}
    {% if object.is_bloodline %}{% fact "Type" "Bloodline" %}{% endif %}
    {% if parent_clan %}{% fact "Parent clan" parent_clan %}{% endif %}
    {% if disciplines %}
        <div class="tl-facts__row">
            <span class="tl-facts__k">Disciplines</span>
            <span class="tl-facts__v">
                {% for discipline in object.disciplines.all %}<a href="{{ discipline.get_absolute_url }}">{{ discipline.name }}</a>{% if not forloop.last %} · {% endif %}{% endfor %}
            </span>
        </div>
    {% endif %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% include "characters/tl/ref2_prose.html" with title="Weakness" text=object.weakness power=True %}
    {% if bloodlines %}
        <section class="tl-section">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Bloodlines</h2>
            </div>
            <div class="tl-section__body ref2-rows">
                {% for bloodline in bloodlines %}
                    <div class="tl-scenerow">
                        <span class="tl-scenerow__name"><a href="{{ bloodline.get_absolute_url }}">{{ bloodline.name }}</a></span>
                        {% if bloodline.nickname %}<span class="tl-scenerow__when">“{{ bloodline.nickname }}”</span>{% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock ref_sections %}
