{% extends "core/form.html" %}
{% block creation_title %}
    {% if object %}Edit{% else %}Create{% endif %} Vampire Clan
{% endblock creation_title %}
{% block creation_title_2 %}
    {% if object %}Edit{% else %}Create{% endif %} Vampire Clan
{% endblock creation_title_2 %}
{% block contents %}
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
        </div>
        <div class="col-sm-9">{{ form.name }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.nickname.id_for_label }}" class="form-label">Nickname</label>
        </div>
        <div class="col-sm-9">{{ form.nickname }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.disciplines.id_for_label }}" class="form-label">Disciplines</label>
        </div>
        <div class="col-sm-9">{{ form.disciplines }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.weakness.id_for_label }}" class="form-label">Weakness</label>
        </div>
        <div class="col-sm-9">{{ form.weakness }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.is_bloodline.id_for_label }}" class="form-label">Is Bloodline</label>
        </div>
        <div class="col-sm-9">{{ form.is_bloodline }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.parent_clan.id_for_label }}" class="form-label">Parent Clan</label>
        </div>
        <div class="col-sm-9">{{ form.parent_clan }}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
        </div>
        <div class="col-sm-9">{{ form.description }}</div>
    </div>
{% endblock contents %}
