{% extends "characters/mage/form/base.html" %}
{% block creation_title %}Create Linear Magic Ritual{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% include "characters/mage/form/field.html" with field=form.path %}
        {% include "characters/mage/form/field.html" with field=form.level %}
        {% include "characters/mage/form/field.html" with field=form.description %}
    </div>
{% endblock contents %}
