{% load dots %}
{% load dots %}
<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-light">
                <h5 class="mb-0 mta_heading">Abilities</h5>
            </div>
            <div class="card-body">
                {% if object.abilities.all %}
                    {% for abb in object.abilities.all %}
                        <span class="badge badge-pill badge-mta mr-2 mb-2">{{ abb }}</span>
                    {% endfor %}
                {% else %}
                    <p class="text-muted text-center mb-0">No abilities specified.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
