<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-light">
                <h5 class="mb-0 mta_heading">Instruments</h5>
            </div>
            <div class="card-body">
                {% if object.instruments.all %}
                    {% for abb in object.instruments.all %}
                        <a href="{{ abb.get_absolute_url }}" class="badge badge-pill badge-secondary mr-2 mb-2">{{ abb }}</a>
                    {% endfor %}
                {% else %}
                    <p class="text-muted text-center mb-0">No instruments specified.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
