{% extends "characters/core/group/form.html" %}
{% comment %}Create / edit a pack: the group form plus its totem and member list.{% endcomment %}
{% block creation_title %}Create Pack{% endblock creation_title %}
{% block contents %}
    {% include "core/tl/field.html" with field=form.name %}
    <div class="tl-formgrid tl-formgrid--2">
        {% include "core/tl/field.html" with field=form.leader %}
        {% include "core/tl/field.html" with field=form.totem %}
    </div>
    {% include "core/tl/field.html" with field=form.members %}
    {% include "core/tl/field.html" with field=form.description %}
{% endblock contents %}
