{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block title %}{{ object.name }}{% endblock title %}
{% block gameline %}mtr{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:mummy:list:title' %}">← Titles</a>{% endblock ref_back %}
{% block ref_eyebrow %}Title · Mummy{% endblock ref_eyebrow %}
{% block ref_name_class %}{{ object.name|cover_title_class:"mtr" }}{% endblock ref_name_class %}
{% block ref_name %}{{ object.name }}{% endblock ref_name %}
{% block ref_facts %}
    {% fact "Rank level" object.rank_level %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
{% endblock ref_sections %}
