{% extends "core/form.html" %}
{% block creation_title %}
    {% if object %}Edit{% else %}Create{% endif %} Mummy Title
{% endblock creation_title %}
{% block formdetails %}
    method="post"
    id="titleForm"
    action=""
    novalidate
{% endblock formdetails %}
{% block contents %}
    {% csrf_token %}
    <div class="centertext container">
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">{{ form.name }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Rank Level</div>
            <div class="col-sm">{{ form.rank_level }}</div>
        </div>
        <div class="row">
            <div class="col-sm">Description</div>
            <div class="col-sm">{{ form.description }}</div>
        </div>
    </div>
{% endblock contents %}
{% block buttons %}
    <input name="Save" type="submit" value="Save" />
{% endblock buttons %}
