{% extends "characters/tl/ref2_list.html" %}
{% block title %}Mummy Titles{% endblock title %}
{% block gameline %}mtr{% endblock gameline %}
{% block ref_eyebrow %}Mummy: the Resurrection{% endblock ref_eyebrow %}
{% block ref_title %}Titles{% endblock ref_title %}
{% block ref_list %}
    <table class="tl-table ref2-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="tl-num">Rank</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr data-filterable-item data-name="{{ obj.name|lower }}">
                    <td class="ref2-table__name"><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                    <td class="tl-num">{{ obj.rank_level }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock ref_list %}
{% block ref_empty %}
    {% include "core/tl/empty.html" with text="No titles found." %}
{% endblock ref_empty %}
