{% extends "characters/changeling/tl/form.html" %}
{% block creation_title %}Create House{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid tl-formgrid--2">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.court %}
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.boon %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.flaw %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
    </div>
{% endblock contents %}
