{% extends "locations/core/location/detail.html" %}
{% load tl sanitize_text %}
{% block cover_rank %}
    {% if object.balefire %}<span class="tl-cover__rank">{% dots object.balefire %}</span>{% endif %}
{% endblock cover_rank %}
{% block type_facts %}
    {% fact "Archetype" object.get_archetype_display %}
    {% fact "Aspect" object.aspect %}
{% endblock type_facts %}
{% block model_specific %}
    {% include "locations/changeling/freehold/display_includes/basics.html" %}
    {% include "locations/changeling/freehold/display_includes/features.html" %}
    {% if object.powers %}
        {% include "locations/changeling/freehold/display_includes/powers.html" %}
    {% endif %}
    {% if object.quirks %}
        <section class="tl-section" id="quirks">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Quirks</h2>
            </div>
            <div class="tl-section__body tl-prose">{{ object.quirks|sanitize_html|linebreaks }}</div>
        </section>
    {% endif %}
{% endblock model_specific %}
