{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}dtf{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:demon:list:apocalyptic_trait' %}">← Traits</a>{% endblock ref_back %}
{% block ref_eyebrow %}Apocalyptic Form Trait · Demon{% endblock ref_eyebrow %}
{% block ref_facts %}
    <div class="tl-facts__row">
        <span class="tl-facts__k">Cost</span>
        <span class="tl-facts__v">{{ object.cost }} point{{ object.cost|pluralize }}</span>
    </div>
    {% if object.house %}{% fact "House" object.house %}{% endif %}
    {% if object.high_torment_only %}{% fact "High torment only" "Yes" %}{% else %}{% fact "High torment only" "No" %}{% endif %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
{% endblock ref_sections %}
