{% extends "core/object.html" %}
{% load sanitize_text %}

{% block contents %}
<div class="tg-card mb-4">
    <div class="tg-card-header">
        <h5 class="tg-card-title dtf_heading">Apocalyptic Form Trait Details</h5>
    </div>
    <div class="tg-card-body">
        <div class="row mb-2">
            <div class="col-md-4"><strong>Cost:</strong></div>
            <div class="col-md-8">{{ object.cost }} point{{ object.cost|pluralize }}</div>
        </div>
        {% if object.house %}
            <div class="row mb-2">
                <div class="col-md-4"><strong>House:</strong></div>
                <div class="col-md-8"><a href="{{ object.house.get_absolute_url }}">{{ object.house.name }}</a></div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-md-4"><strong>High Torment Only:</strong></div>
            <div class="col-md-8">{% if object.high_torment_only %}Yes{% else %}No{% endif %}</div>
        </div>
    </div>
</div>
{% endblock contents %}
