<section class="tl-section tl-span-6" id="weapon">
    <div class="tl-section__head">
        <span class="tl-section__num"></span>
        <h2 class="tl-section__title">Weapon</h2>
    </div>
    <div class="tl-section__body tl-stats">
        {% include "items/tl/stat.html" with label="Damage" value=object.damage note=object.get_damage_type_display %}
        {% include "items/tl/stat.html" with label="Difficulty" value=object.difficulty %}
        {% include "items/tl/stat.html" with label="Conceal" value=object.get_conceal_display text=True %}
    </div>
</section>
