{% extends "locations/core/location/detail.html" %}
{% load tl sanitize_text %}
{% block type_facts %}
    {% if object.era %}{% fact "Era" object.get_era_display %}{% endif %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="rating">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Tomb rating</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Size" object.size %}
            {% trait "Security" object.security %}
            {% trait "Sanctity" object.sanctity %}
            {% include "locations/tl/kv.html" with label="Total rank" value=object.rank %}
        </div>
    </section>
    <section class="tl-section tl-section--power tl-span-6" id="spirit">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Spiritual properties</h2>
        </div>
        <div class="tl-section__body tl-stats">
            {% include "locations/tl/stat.html" with label="Ba per week" value=object.ba_per_week %}
            {% include "locations/tl/stat.html" with label="Duat barrier" value=object.duat_barrier %}
        </div>
    </section>
    {% if object.has_sarcophagus or object.has_false_chambers or object.has_hieroglyphic_wards or object.has_treasure_cache or object.has_cult_shrine or object.has_underworld_portal %}
        <section class="tl-section tl-span-6" id="features">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Features</h2>
            </div>
            <ul class="tl-section__body tl-taglist">
                {% if object.has_sarcophagus %}<li>Sarcophagus</li>{% endif %}
                {% if object.has_false_chambers %}<li>False chambers</li>{% endif %}
                {% if object.has_hieroglyphic_wards %}<li>Hieroglyphic wards</li>{% endif %}
                {% if object.has_treasure_cache %}<li>Treasure cache</li>{% endif %}
                {% if object.has_cult_shrine %}<li>Cult shrine</li>{% endif %}
                {% if object.has_underworld_portal %}<li>Underworld portal</li>{% endif %}
            </ul>
        </section>
    {% endif %}
    {% if object.original_occupant or object.discovered_date or object.archaeological_status %}
        <section class="tl-section tl-span-6" id="history">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">History</h2>
            </div>
            <div class="tl-section__body tl-stack">
                {% if object.original_occupant %}
                    {% include "locations/tl/kv.html" with label="Original occupant" value=object.original_occupant %}
                {% endif %}
                {% if object.discovered_date %}
                    {% include "locations/tl/kv.html" with label="Discovered" value=object.discovered_date %}
                {% endif %}
                {% if object.archaeological_status %}
                    {% include "locations/tl/kv.html" with label="Archaeological status" value=object.archaeological_status %}
                {% endif %}
            </div>
        </section>
    {% endif %}
    {% if object.guardian_description %}
        <section class="tl-section" id="guardians">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Guardians</h2>
            </div>
            <div class="tl-section__body tl-prose">{{ object.guardian_description|sanitize_html|linebreaks }}</div>
        </section>
    {% endif %}
{% endblock model_specific %}
