{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Tomb{% endblock creation_title %}
{% block form_line %}mtr{% endblock form_line %}
{% block formdetails %}method="post" id="tombForm" action="" novalidate{% endblock formdetails %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Tomb</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.size %}
                {% include "locations/tl/field.html" with field=form.era %}
                {% include "locations/tl/field.html" with field=form.security %}
                {% include "locations/tl/field.html" with field=form.sanctity %}
                {% include "locations/tl/field.html" with field=form.ba_per_week label="Ba per week" %}
                {% include "locations/tl/field.html" with field=form.duat_barrier label="Duat barrier" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Features</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.has_sarcophagus label="Has sarcophagus" %}
                {% include "locations/tl/field.html" with field=form.has_false_chambers label="Has false chambers" %}
                {% include "locations/tl/field.html" with field=form.has_hieroglyphic_wards label="Has hieroglyphic wards" %}
                {% include "locations/tl/field.html" with field=form.has_treasure_cache label="Has treasure cache" %}
                {% include "locations/tl/field.html" with field=form.has_cult_shrine label="Has cult shrine" %}
                {% include "locations/tl/field.html" with field=form.has_underworld_portal label="Has underworld portal" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">History</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.original_occupant label="Original occupant" %}
                {% include "locations/tl/field.html" with field=form.discovered_date label="Discovered" %}
                {% include "locations/tl/field.html" with field=form.archaeological_status label="Archaeological status" %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.description %}
        {% include "locations/tl/field.html" with field=form.guardian_description label="Guardian description" %}
    </div>
{% endblock contents %}
