{% extends "items/core/item/detail.html" %}
{% load tl %}
{% block additional_stats %}
    <section class="tl-section tl-span-6" id="properties">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Properties</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Rating" object.rating %}
            {% if object.treasure_type %}
                <div class="tl-kv"><span>Type</span><span class="tl-kv__v">{{ object.get_treasure_type_display }}</span></div>
            {% endif %}
            <div class="tl-kv">
                <span>Permanent</span>
                <span class="tl-kv__v">
                    {% if object.permanence %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
        </div>
    </section>
    <section class="tl-section tl-section--power tl-span-6" id="glamour">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Glamour</h2>
        </div>
        <div class="tl-section__body">
            <div class="tl-stats">
                {% include "items/tl/stat.html" with label="Storage" value=object.glamour_storage %}
            </div>
            {% if object.glamour_affinity %}
                <div class="tl-stack">
                    <div class="tl-kv"><span>Affinity</span><span class="tl-kv__v">{{ object.glamour_affinity }}</span></div>
                </div>
            {% endif %}
        </div>
    </section>
    {% if object.creator or object.creation_method %}
        <section class="tl-section tl-span-8" id="creation">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Creation</h2>
            </div>
            <div class="tl-section__body tl-stack">
                {% if object.creator %}
                    <div class="tl-kv"><span>Creator</span><span class="tl-kv__v">{{ object.creator }}</span></div>
                {% endif %}
                {% include "characters/tl/prose_block.html" with label="Method" text=object.creation_method %}
            </div>
        </section>
    {% endif %}
    {% if object.special_abilities %}
        <section class="tl-section tl-span-8" id="special-abilities">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Special abilities</h2>
            </div>
            <div class="tl-section__body">
                {% include "characters/tl/prose_block.html" with text=object.special_abilities %}
            </div>
        </section>
    {% endif %}
{% endblock additional_stats %}
