{% comment %}History & past lives: first death, past-life memory, history, mentor, goals, notes.{% endcomment %}
{% if object.death_in_first_life or object.past_lives_memory or object.history or object.mentor_mummy or object.goals or object.notes or object.public_info %}
    <section class="tl-section" id="history">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">History &amp; Past Lives</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            {% include "characters/tl/prose_block.html" with label="Death in first life" text=object.death_in_first_life %}
            {% include "characters/tl/prose_block.html" with label="Past lives memory" text=object.past_lives_memory %}
            {% include "characters/tl/prose_block.html" with label="History" text=object.history %}
            {% if object.mentor_mummy %}
                <div class="tl-stack">
                    <span class="tl-subhead">Mentor</span>
                    <a href="{{ object.mentor_mummy.get_absolute_url }}">{{ object.mentor_mummy.name }}</a>
                </div>
            {% endif %}
            {% include "characters/tl/prose_block.html" with label="Goals" text=object.goals %}
            {% include "characters/tl/prose_block.html" with label="Notes" text=object.notes %}
            {% include "characters/tl/prose_block.html" with label="Public information" text=object.public_info %}
        </div>
    </section>
{% endif %}
