{% extends "characters/tl/ref2_chars.html" %}
{% block title %}Mummies{% endblock title %}
{% block gameline %}mtr{% endblock gameline %}
{% block chars_eyebrow %}Mummy: the Resurrection{% endblock chars_eyebrow %}
{% block chars_title %}Mummies{% endblock chars_title %}
{% block chars_list %}
    {% for obj in object_list %}
        {% if obj.web %}
            {% include "characters/tl/ref2_char_tile.html" with char=obj detail=obj.get_web_display detail2=obj.dynasty.name %}
        {% else %}
            {% include "characters/tl/ref2_char_tile.html" with char=obj detail=obj.dynasty.name %}
        {% endif %}
    {% endfor %}
{% endblock chars_list %}
{% block chars_empty %}
    {% include "core/tl/empty.html" with text="No mummies found." %}
{% endblock chars_empty %}
