{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Domain type" object.domain_type %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="statistics">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Domain</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Total rating" object.total_rating total=10 %}
            {% trait "Size" object.size %}
            {% trait "Population" object.population %}
            {% trait "Control" object.control %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="features">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Features</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% include "locations/tl/kv.html" with label="Elysium" value=object.is_elysium|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Has rack" value=object.has_rack|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Disputed" value=object.is_disputed|yesno:"Yes,No" %}
        </div>
    </section>
{% endblock model_specific %}
