{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Domain{% endblock creation_title %}
{% block form_line %}vtm{% endblock form_line %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Domain</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.size label="Size (1–5)" %}
                {% include "locations/tl/field.html" with field=form.population label="Population (1–5)" %}
                {% include "locations/tl/field.html" with field=form.control label="Control (1–5)" %}
                {% include "locations/tl/field.html" with field=form.domain_type label="Domain type" help="E.g. nightclub district, university campus, industrial park." %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Features</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.is_elysium label="Contains Elysium" %}
                {% include "locations/tl/field.html" with field=form.has_rack label="Contains rack" %}
                {% include "locations/tl/field.html" with field=form.is_disputed label="Contested territory" %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
{% endblock contents %}
