{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:vampire:create:domain' %}">Create New Domain</a>
{% endblock create %}
{% block list_head %}
    <th>Location</th>
    <th>Size</th>
    <th>Population</th>
    <th>Control</th>
    <th>Total rating</th>
    <th>Type</th>
{% endblock list_head %}
{% block list_cells %}
    <td>{% include "locations/tl/containers_cell.html" %}</td>
    <td>{% dots obj.size %}</td>
    <td>{% dots obj.population %}</td>
    <td>{% dots obj.control %}</td>
    <td>{% dots obj.total_rating 10 %}</td>
    <td>{{ obj.domain_type|default:'—' }}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No domains found." %}
{% endblock empty %}
