{% extends "core/misc/form.html" %}
{% comment %}
Create / edit a group (also cabal, conclave and circle, which override only
creation_title). Fields a view does not include are skipped; the new member
(new_character, "Add New Member") appears on edit where the view adds it.
{% endcomment %}
{% block creation_title %}Create Group{% endblock creation_title %}
{% block nav %}
    {% include "core/tl/nav.html" with nav_active="characters" %}
{% endblock nav %}
{% block contents %}
    {% include "core/tl/field.html" with field=form.name %}
    <div class="tl-formgrid tl-formgrid--2">
        {% if form.chronicle %}
            {% include "core/tl/field.html" with field=form.chronicle %}
        {% endif %}
        {% if form.leader %}
            {% include "core/tl/field.html" with field=form.leader %}
        {% endif %}
    </div>
    {% if form.description %}
        {% include "core/tl/field.html" with field=form.description %}
    {% endif %}
    {% if form.public_info %}
        {% include "core/tl/field.html" with field=form.public_info label="Public info" %}
    {% endif %}
    {% if object and form.new_character %}
        {% include "core/tl/field.html" with field=form.new_character help=form.new_character.help_text %}
    {% endif %}
{% endblock contents %}
