{% extends "items/core/item/detail.html" %}
{% load tl %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="relic">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Relic</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Power level" object.power_level variant="acc" %}
            <div class="tl-kv"><span>Background cost</span><span class="tl-kv__v">{{ object.background_cost }}</span></div>
            <div class="tl-kv">
                <span>Blessed</span>
                <span class="tl-kv__v">
                    {% if object.is_blessed %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
            <div class="tl-kv">
                <span>Cursed</span>
                <span class="tl-kv__v{% if object.is_cursed %} is-neg{% endif %}">
                    {% if object.is_cursed %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
            <div class="tl-kv">
                <span>Requires faith</span>
                <span class="tl-kv__v">
                    {% if object.requires_faith %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
            <div class="tl-kv">
                <span>Unique</span>
                <span class="tl-kv__v">
                    {% if object.is_unique %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
            {% if object.activation_cost %}
                <div class="tl-kv"><span>Activation cost</span><span class="tl-kv__v">{{ object.activation_cost }}</span></div>
            {% endif %}
        </div>
    </section>
    {% if object.powers or object.origin or object.limitations %}
        <section class="tl-section tl-section--power tl-span-6" id="powers">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Powers</h2>
            </div>
            <div class="tl-section__body tl-stack tl-stack--lg">
                {% include "characters/tl/prose_block.html" with text=object.powers %}
                {% include "characters/tl/prose_block.html" with label="Origin" text=object.origin %}
                {% include "characters/tl/prose_block.html" with label="Limitations" text=object.limitations %}
            </div>
        </section>
    {% endif %}
{% endblock model_specific %}
