{% extends "items/tl/form.html" %}
{% block creation_title %}Create Hunter Relic{% endblock creation_title %}
{% block contents %}
    <div class="tl-itemform">
        <div class="tl-formgrid">
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
            {% include "core/tl/field.html" with field=form.power_level label="Power level" %}
            {% include "core/tl/field.html" with field=form.background_cost label="Background cost" %}
            {% include "core/tl/field.html" with field=form.activation_cost label="Activation cost" %}
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
        </div>
        <div class="tl-formgrid">
            {% include "core/misc/check.html" with field=form.is_blessed label="Blessed" %}
            {% include "core/misc/check.html" with field=form.is_cursed label="Cursed" %}
            {% include "core/misc/check.html" with field=form.requires_faith label="Requires faith" %}
            {% include "core/misc/check.html" with field=form.is_unique label="Unique" %}
        </div>
        <section class="tl-section" aria-labelledby="hrelic-powers-title">
            <div class="tl-section__head">
                <span class="tl-section__num">01</span>
                <h2 class="tl-section__title" id="hrelic-powers-title">Powers</h2>
            </div>
            <div class="tl-section__body tl-formgrid">
                <div class="tl-field--full">{% include "core/tl/field.html" with field=form.powers %}</div>
                <div class="tl-field--full">{% include "core/tl/field.html" with field=form.limitations %}</div>
                <div class="tl-field--full">{% include "core/tl/field.html" with field=form.origin %}</div>
            </div>
        </section>
    </div>
{% endblock contents %}
