{% extends "items/tl/list.html" %}
{% load tl %}
{% block title %}Hunter Relics{% endblock title %}
{% block gameline %}htr{% endblock gameline %}
{% block eyebrow %}Hunter{% endblock eyebrow %}
{% block heading %}Hunter Relics{% endblock heading %}
{% block create_action %}
    <a href="{% url 'items:hunter:create:relic' %}" class="tl-btn tl-btn--block">Create relic</a>
{% endblock create_action %}
{% block columns %}
    <th scope="col">Power level</th>
{% endblock columns %}
{% block row %}
    <td>{% dots obj.power_level %}</td>
{% endblock row %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No relics found." %}
{% endblock empty %}
