{% extends "characters/tl/ref2_list.html" %}
{% block title %}Vampire Sects{% endblock title %}
{% block gameline %}vtm{% endblock gameline %}
{% block ref_eyebrow %}Vampire: the Masquerade{% endblock ref_eyebrow %}
{% block ref_title %}Sects{% endblock ref_title %}
{% block ref_list %}
    <div class="tl-grid">
        {% for obj in object_list %}
            <article class="tl-tile" data-filterable-item data-name="{{ obj.name|lower }}">
                <span class="tl-tile__meta"><span>Sect</span></span>
                <h2 class="tl-tile__name">
                    <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                </h2>
                {% if obj.description %}
                    <p class="tl-tile__text">{{ obj.description|striptags|truncatewords:28 }}</p>
                {% elif obj.philosophy %}
                    <p class="tl-tile__text">{{ obj.philosophy|striptags|truncatewords:28 }}</p>
                {% endif %}
            </article>
        {% endfor %}
    </div>
{% endblock ref_list %}
{% block ref_empty %}
    {% include "core/tl/empty.html" with text="No vampire sects found." %}
{% endblock ref_empty %}
