{% load static %}
<div class="tl-linked-npc" data-linked-npc-form data-fera-breeds="{{ form.fera_breeds_json }}" data-faction-parents="{{ form.faction_parents_json }}">
    <section class="tl-linked-npc__section">
        <h2 class="tl-linked-npc__heading">Who are they?</h2>
        <div class="tl-chargen__form tl-linked-npc__identity">
            {% include "core/tl/field.html" with field=form.npc_type %}
            {% include "core/tl/field.html" with field=form.name %}
            {% include "core/tl/field.html" with field=form.concept %}
            {% include "core/tl/field.html" with field=form.rank %}
        </div>
    </section>
    <section class="tl-linked-npc__section" data-linked-npc-details hidden>
        <h2 class="tl-linked-npc__heading">Character details</h2>
        <div data-npc-except="werewolf changeling fera" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.nature %}
                {% include "core/tl/field.html" with field=form.demeanor %}
            </div>
        </div>
        <div data-npc-types="vampire" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.clan %}
                {% include "core/tl/field.html" with field=form.sect %}
            </div>
        </div>
        <div data-npc-types="werewolf" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.werewolf_breed %}
                {% include "core/tl/field.html" with field=form.auspice %}
            </div>
        </div>
        <div data-npc-types="werewolf kinfolk" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.tribe %}
            </div>
        </div>
        <div data-npc-types="mage" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.affiliation %}
                {% include "core/tl/field.html" with field=form.faction %}
                {% include "core/tl/field.html" with field=form.subfaction %}
            </div>
        </div>
        <div data-npc-types="sorcerer" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.fellowship %}
            </div>
        </div>
        <div data-npc-types="wraith" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.guild %}
            </div>
        </div>
        <div data-npc-types="changeling" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.kith %}
                {% include "core/tl/field.html" with field=form.court %}
            </div>
        </div>
        <div data-npc-types="demon" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.house %}
            </div>
        </div>
        <div data-npc-types="fera" hidden>
            <div class="tl-chargen__form">
                {% include "core/tl/field.html" with field=form.fera_type %}
                {% include "core/tl/field.html" with field=form.fera_breed %}
            </div>
        </div>
    </section>
    <section class="tl-linked-npc__section">
        <h2 class="tl-linked-npc__heading">Their connection to you</h2>
        <div class="tl-chargen__form">
            {% include "core/tl/field.html" with field=form.note %}
        </div>
    </section>
</div>
<script src="{% static 'characters/js/linked-npc-fields.js' %}" defer></script>
