{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}wto{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:wraith:list:thorn' %}">← Thorns</a>{% endblock ref_back %}
{% block ref_eyebrow %}Thorn · Wraith{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% fact "Type" object.get_thorn_type_display %}
    {% fact "Point cost" object.point_cost %}
    {% if object.activation_cost %}{% fact "Activation cost" object.activation_cost %}{% endif %}
    {% if object.resistance_difficulty %}{% fact "Resistance difficulty" object.resistance_difficulty %}{% endif %}
    {% fact "Duration" object.duration %}
    {% fact "Frequency" object.frequency_limitation %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% include "characters/tl/ref2_prose.html" with title="Activation Trigger" text=object.activation_trigger %}
    {% include "characters/tl/ref2_prose.html" with title="Mechanical Description" text=object.mechanical_description power=True %}
    {% include "characters/tl/ref2_prose.html" with title="Resistance System" text=object.resistance_system %}
    {% include "characters/tl/ref2_prose.html" with title="Limitations" text=object.limitations %}
{% endblock ref_sections %}
