{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}dtf{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:demon:list:visage' %}">← Visages</a>{% endblock ref_back %}
{% block ref_eyebrow %}Visage · Demon{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% if object.house %}{% fact "House" object.house %}{% else %}{% fact "House" "None" %}{% endif %}
{% endblock ref_facts %}
{% block ref_actions %}
    {% if user.is_authenticated %}
        <a class="tl-btn tl-btn--ghost" href="{{ object.get_update_url }}">Edit</a>
    {% endif %}
{% endblock ref_actions %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% with form=object.default_apocalyptic_form %}
        {% if form %}
            {% with low=form.low_torment_traits.all high=form.high_torment_traits.all %}
                {% if low %}
                    <section class="tl-section tl-section--power tl-span-6">
                        <div class="tl-section__head">
                            <span class="tl-section__num"></span>
                            <h2 class="tl-section__title">Low Torment Traits</h2>
                        </div>
                        <div class="tl-section__body ref2-rows">
                            {% for trait in low %}
                                <div class="tl-scenerow">
                                    <span class="tl-stack">
                                        <span class="tl-scenerow__name"><a href="{{ trait.get_absolute_url }}">{{ trait.name }}</a></span>
                                        {% if trait.description %}<span class="tl-tile__text">{{ trait.description }}</span>{% endif %}
                                    </span>
                                    <span class="tl-scenerow__when">{{ trait.cost }} pt</span>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if high %}
                    <section class="tl-section tl-section--power tl-span-6">
                        <div class="tl-section__head">
                            <span class="tl-section__num"></span>
                            <h2 class="tl-section__title">High Torment Traits</h2>
                        </div>
                        <div class="tl-section__body ref2-rows">
                            {% for trait in high %}
                                <div class="tl-scenerow">
                                    <span class="tl-stack">
                                        <span class="tl-scenerow__name"><a href="{{ trait.get_absolute_url }}">{{ trait.name }}</a></span>
                                        {% if trait.description %}<span class="tl-tile__text">{{ trait.description }}</span>{% endif %}
                                    </span>
                                    <span class="tl-scenerow__when">{{ trait.cost }} pt</span>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endwith %}
{% endblock ref_sections %}
