{% extends "core/base.html" %}
{% load sanitize_text %}
{% load dots %}
{% block title %}
    {{ object.name }}
{% endblock title %}
{% block content %}
    <div class="centertext container">
        <div class="container py-4">
            {% include "core/includes/title.html" %}
            <div class="row mb-4">
                <div class="col-12">
                    <div class="tg-card">
                        <div class="tg-card-header">
                            <h5 class="tg-card-title dtf_heading">Visage Details</h5>
                        </div>
                        <div class="tg-card-body">
                            <div class="row mb-0">
                                <div class="col-sm-4">
                                    <strong>House:</strong>
                                </div>
                                <div class="col-sm-8">
                                    {% if object.house %}
                                        <a href="{{ object.house.get_absolute_url }}">{{ object.house }}</a>
                                    {% else %}
                                        None
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if object.low_torment_traits.all %}
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="tg-card">
                            <div class="tg-card-header">
                                <h5 class="tg-card-title dtf_heading">Low Torment Traits</h5>
                            </div>
                            <div class="tg-card-body">
                                {% for trait in object.low_torment_traits.all %}
                                    <div class="row mb-1">
                                        <div class="col-sm-4">{{ trait.name }}</div>
                                        <div class="col-sm-8">{{ trait.description }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if object.high_torment_traits.all %}
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="tg-card">
                            <div class="tg-card-header">
                                <h5 class="tg-card-title dtf_heading">High Torment Traits</h5>
                            </div>
                            <div class="tg-card-body">
                                {% for trait in object.high_torment_traits.all %}
                                    <div class="row mb-1">
                                        <div class="col-sm-4">{{ trait.name }}</div>
                                        <div class="col-sm-8">{{ trait.description }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if object.description %}
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="tg-card">
                            <div class="tg-card-header">
                                <h5 class="tg-card-title dtf_heading">Description</h5>
                            </div>
                            <div class="tg-card-body">
                                <p style="line-height: 1.6;">{{ object.description|sanitize_html }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row mb-4">
                <div class="col-12">
                    <div class="tg-card">
                        <div class="tg-card-body text-center">
                            <a href="{{ object.get_update_url }}" class="tg-btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
