{% extends "core/form.html" %}
{% block creation_title %}Create Visage{% endblock creation_title %}
{% block errors %}{% include "core/misc/form_errors.html" %}{% endblock errors %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.house %}
        {% include "core/tl/field.html" with field=form.default_apocalyptic_form %}
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
    </div>
{% endblock contents %}
