{% extends "core/form.html" %}
{% block creation_title %}
    Create Visage
{% endblock creation_title %}
{% block contents %}
    {% load sanitize_text %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">House</div>
        <div class="col-sm">{{ form.house }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Default Apocalyptic Form</div>
        <div class="col-sm">{{ form.default_apocalyptic_form }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
{% endblock contents %}
