{% comment %} Fomor powers step: Rage, Gnosis and the Fomori powers the Wyrm granted. {% endcomment %}
<p class="tl-lede">Set Rage and Gnosis, then choose the Fomori powers the Wyrm has granted.</p>
<div class="tl-chargen__form">
    {% include "core/tl/field.html" with field=form.rage help=form.rage.help_text %}
    {% include "core/tl/field.html" with field=form.gnosis help=form.gnosis.help_text %}
    {% include "core/tl/field.html" with field=form.powers label="Fomori powers" help=form.powers.help_text %}
</div>
