{% extends "characters/tl/reference_detail.html" %}
{% load tl %}
{% block back %}<a href="{% url 'characters:werewolf:list:renownincident' %}">← Renown incidents</a>{% endblock back %}
{% block facts %}
    {% if object.glory %}{% fact "Glory" object.glory %}{% endif %}
    {% if object.honor %}{% fact "Honor" object.honor %}{% endif %}
    {% if object.wisdom %}{% fact "Wisdom" object.wisdom %}{% endif %}
    {% if object.posthumous %}{% fact "Posthumous" "Yes" %}{% endif %}
    {% if object.only_once %}{% fact "Only once" "Yes" %}{% endif %}
    {% if object.breed %}{% fact "Breed" object.breed|title|add:" only" %}{% endif %}
    {% if object.rite %}{% fact "Rite required" object.rite %}{% endif %}
{% endblock facts %}
