{% extends "characters/werewolf/tl/form.html" %}
{% block creation_title %}Create Renown Incident{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
        {% include "core/tl/field.html" with field=form.glory %}
        {% include "core/tl/field.html" with field=form.honor %}
        {% include "core/tl/field.html" with field=form.wisdom %}
        {% include "core/tl/field.html" with field=form.breed label="Breed restriction" %}
        {% include "core/tl/field.html" with field=form.rite label="Rite required" %}
        <div class="tl-stack">
            {% include "core/misc/check.html" with field=form.posthumous label="Posthumous" %}
            {% include "core/misc/check.html" with field=form.only_once label="Only once" %}
        </div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
    </div>
{% endblock contents %}
