{% extends "characters/tl/reference_list.html" %}
{% block title %}Derangements{% endblock title %}
{% block gameline %}wod{% endblock gameline %}
{% block cover_label %}Derangements{% endblock cover_label %}
{% block cover_title %}
    {% include "characters/tl/reference_cover_title.html" with eyebrow="World of Darkness" title="Derangements" line="wod" %}
{% endblock cover_title %}
{% block ref_create %}
    <a class="tl-btn tl-btn--quiet tl-ref-new" href="{% url 'characters:create:derangement' %}">+ New derangement</a>
{% endblock ref_create %}
{% block content %}
    {% if object_list %}
        <table class="tl-table tl-table--ref">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody data-filterable-list="derangements">
                {% for obj in object_list %}
                    <tr data-filterable-item data-name="{{ obj.name|lower }}">
                        <td class="tl-ref-name"><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% include "characters/tl/reference_no_results.html" with text="No derangements match the current filters." empty="No derangements yet." %}
{% endblock content %}
