{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Rack type" object.rack_type %}
    {% fact "Blood quality" object.blood_quality %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="statistics">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Rack</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Quality" object.quality %}
            {% trait "Population" object.population_density %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="status">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Risk &amp; status</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Risk level" object.risk_level %}
            {% trait "Masquerade risk" object.masquerade_risk %}
            {% include "locations/tl/kv.html" with label="Protected" value=object.is_protected|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Exclusive" value=object.is_exclusive|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Contested" value=object.is_contested|yesno:"Yes,No" %}
        </div>
    </section>
{% endblock model_specific %}
