{% extends "game/tl/form.html" %}
{% load tl %}
{% block title %}{% if object.pk %}Update {{ object.name }}{% else %}Create Setting Element{% endif %}{% endblock title %}
{% block gameline %}{% if object.pk %}{{ object.gameline|gameline_code }}{% else %}wod{% endif %}{% endblock gameline %}
{% block cover_kind %}{% if object.pk %}line{% else %}ink{% endif %}{% endblock cover_kind %}
{% block form_eyebrow %}{% if object.pk %}Edit · Setting element{% else %}New setting element{% endif %}{% endblock form_eyebrow %}
{% block form_title %}{% if object.pk %}{{ object.name }}{% else %}Create Setting Element{% endif %}{% endblock form_title %}
{% block cancel_url %}{% if object.pk %}{{ object.get_absolute_url }}{% else %}{% url 'game:setting_element:list' %}{% endif %}{% endblock cancel_url %}
