{% extends "game/tl/base.html" %}
{% comment %}Setting elements (common knowledge) as tiles, each in its gameline.{% endcomment %}
{% load tl %}
{% block title %}Setting Elements{% endblock title %}
{% block cover_label %}Setting elements{% endblock cover_label %}
{% block cover_title %}
    <span class="tl-cover__eyebrow">Setting elements &amp; common knowledge</span>
    <h1 class="tl-cover__name tl-cover__name--index" data-fit-title>Common knowledge</h1>
    {% if page_obj %}<span class="tl-switch">{{ page_obj.paginator.count }} element{{ page_obj.paginator.count|pluralize }}</span>{% endif %}
{% endblock cover_title %}
{% block cover_actions %}
    {% if user.is_staff or user.is_superuser %}
        <a class="tl-btn" href="{% url 'game:setting_element:create' %}">New setting element</a>
    {% endif %}
{% endblock cover_actions %}
{% block content %}
    {% if object_list %}
        <div class="tl-grid">
            {% for element in object_list %}
                <article class="tl-tile" data-gameline="{{ element.gameline|gameline_code }}">
                    <span class="tl-tile__meta"><span>{{ element.get_gameline_display }}</span></span>
                    <h2 class="tl-tile__name">
                        <a href="{{ element.get_absolute_url }}">{{ element.name }}</a>
                    </h2>
                    <p class="tl-tile__text">{{ element.description|truncatewords:20 }}</p>
                </article>
            {% endfor %}
        </div>
        {% include "game/tl/pager.html" %}
    {% else %}
        {% include "core/tl/empty.html" with text="No setting elements found." %}
    {% endif %}
{% endblock content %}
