{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}wto{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:wraith:list:shadow_archetype' %}">← Archetypes</a>{% endblock ref_back %}
{% block ref_eyebrow %}Shadow Archetype · Wraith{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% fact "Point cost" object.point_cost %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% include "characters/tl/ref2_prose.html" with title="Core Function" text=object.core_function power=True %}
    {% include "characters/tl/ref2_prose.html" with title="Modus Operandi" text=object.modus_operandi %}
    {% include "characters/tl/ref2_prose.html" with title="Dominance Behavior" text=object.dominance_behavior %}
    {% include "characters/tl/ref2_prose.html" with title="Effect on Psyche" text=object.effect_on_psyche %}
    {% include "characters/tl/ref2_prose.html" with title="Strengths" text=object.strengths %}
    {% include "characters/tl/ref2_prose.html" with title="Weaknesses" text=object.weaknesses %}
{% endblock ref_sections %}
