{% extends "core/form.html" %}
{% block creation_title %}Create Shadow Archetype{% endblock creation_title %}
{% block errors %}{% include "core/misc/form_errors.html" %}{% endblock errors %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.point_cost %}
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.core_function %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.modus_operandi %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.dominance_behavior %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.effect_on_psyche label="Effect on Psyche" %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.strengths %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.weaknesses %}</div>
    </div>
{% endblock contents %}
