{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}wto{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:wraith:list:faction' %}">← Factions</a>{% endblock ref_back %}
{% block ref_eyebrow %}{{ object.get_faction_type_display }} · Wraith{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% fact "Type" object.get_faction_type_display %}
    {% if object.parent %}{% fact "Parent faction" object.parent %}{% endif %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% with subfactions=object.subfactions.all %}
        {% if subfactions %}
            <section class="tl-section">
                <div class="tl-section__head">
                    <span class="tl-section__num"></span>
                    <h2 class="tl-section__title">Subfactions</h2>
                </div>
                <div class="tl-section__body ref2-rows">
                    {% for subfaction in subfactions %}
                        <div class="tl-scenerow">
                            <span class="tl-scenerow__name"><a href="{{ subfaction.get_absolute_url }}">{{ subfaction.name }}</a></span>
                            <span class="tl-scenerow__when">{{ subfaction.get_faction_type_display }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock ref_sections %}
