{% extends "characters/mage/form/base.html" %}
{% comment %}
First step of Companion creation: identity, Archetypes, companion type and whose
companion it is. NPC is offered to Storytellers only.
{% endcomment %}
{% block creation_title %}Create Companion{% endblock creation_title %}
{% block formdetails %}method="post" id="mageForm" action="" novalidate enctype="multipart/form-data"{% endblock formdetails %}
{% block contents %}
    <p class="tl-lede">Decide identity and motivation; choose concept, companion type and Archetypes.</p>
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% include "characters/mage/form/field.html" with field=form.concept %}
        {% include "characters/mage/form/field.html" with field=form.chronicle %}
        {% include "characters/mage/form/field.html" with field=form.nature %}
        {% include "characters/mage/form/field.html" with field=form.demeanor %}
        {% include "characters/mage/form/field.html" with field=form.companion_type %}
        {% include "characters/mage/form/field.html" with field=form.companion_of %}
        {% include "characters/mage/form/field.html" with field=form.image label="Character portrait" %}
        {% if storyteller %}
            {% include "characters/mage/form/field.html" with field=form.npc label="NPC" %}
        {% endif %}
    </div>
{% endblock contents %}
