{% comment %}Charms inside the companion's Special Advantages section; nothing when there are none.{% endcomment %}
{% with charms=object.charms.all %}
    {% if charms %}
        <div class="tl-stack" id="charms">
            <span class="tl-subhead">Charms</span>
            <div class="tl-powergrid">
                {% for charm in charms %}
                    <span class="tl-power__name"><a href="{{ charm.get_absolute_url }}">{{ charm }}</a></span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endwith %}
