{% load tl %}
<section class="tl-section tl-span-5" id="advantages">
    <div class="tl-section__head">
        <span class="tl-section__num"></span>
        <h2 class="tl-section__title">Advantages</h2>
    </div>
    <div class="tl-section__body tl-stack tl-stack--lg">
        <div>
            {% track "Willpower" perm=object.willpower temp=object.temporary_willpower %}
        </div>
        {% if object.essence > 0 or object.rage > 0 %}
            <div class="tl-stack">
                {% if object.essence > 0 %}
                    <div class="tl-kv"><span class="tl-subhead">Essence</span><span class="tl-kv__v">{{ object.essence }}</span></div>
                {% endif %}
                {% if object.rage > 0 %}
                    <div class="tl-kv"><span class="tl-subhead">Rage</span><span class="tl-kv__v">{{ object.rage }}</span></div>
                {% endif %}
            </div>
        {% endif %}
        {% if object.backgrounds.exists %}
            <div class="tl-stack">
                <span class="tl-subhead">Backgrounds</span>
                {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds bare=True %}
            </div>
        {% endif %}
    </div>
</section>
