{% extends "characters/mage/mtahuman/detail.html" %}
{% block basics %}
    {% include "characters/mage/companion/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/mage/companion/advantages_display_block.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/mage/companion/companion_advantage_display.html" %}
{% endblock advantages %}
{% block backgrounds %}{% endblock backgrounds %}
{% block freebies %}
    {% if object.status == "Sub" %}
        {% include "characters/mage/companion/companion_freebies_form.html" %}
    {% endif %}
{% endblock freebies %}
