{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}vtm{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:vampire:list:discipline' %}">← Disciplines</a>{% endblock ref_back %}
{% block ref_eyebrow %}Discipline · Vampire{% endblock ref_eyebrow %}
{% block ref_name_class %}{{ object.name|cover_title_class:"vtm" }}{% endblock ref_name_class %}
{% block ref_facts %}
    {% with clans=object.clans.all %}
        {% if clans %}
            <div class="tl-facts__row">
                <span class="tl-facts__k">Clans</span>
                <span class="tl-facts__v">
                    {% for clan in clans %}<a href="{{ clan.get_absolute_url }}">{{ clan.name }}</a>{% if not forloop.last %} · {% endif %}{% endfor %}
                </span>
            </div>
        {% endif %}
    {% endwith %}
    {% fact "Property name" object.property_name %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% if not object.description %}
        {% include "core/tl/empty.html" with text="No description yet." %}
    {% endif %}
{% endblock ref_sections %}
