{% extends "items/tl/list.html" %}
{% load tl %}
{% block title %}Mummy Relics{% endblock title %}
{% block gameline %}mtr{% endblock gameline %}
{% block eyebrow %}Mummy{% endblock eyebrow %}
{% block heading %}Mummy Relics{% endblock heading %}
{% block columns %}
    <th scope="col">Type</th>
    <th scope="col">Rank</th>
{% endblock columns %}
{% block row %}
    <td class="tl-itemtable__type">{{ obj.get_relic_type_display }}</td>
    <td>{% dots obj.rank %}</td>
{% endblock row %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No relics found." %}
{% endblock empty %}
