{% load static %}
<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-light py-2">
                <h5 class="mb-0 mta_heading">Tenets</h5>
            </div>
            <div class="card-body py-3">
                {% if object.tenets.all %}
                    <div class="list-group list-group-flush">
                        {% for tenet in object.tenets.all %}
                            <a href="{{ tenet.get_absolute_url }}" class="list-group-item list-group-item-action">
                                <span class="font-weight-bold">{{ tenet }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted text-center mb-0">No tenets specified.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
