{% extends "characters/mage/mtahuman/detail.html" %}
{% block basics %}
    {% include "characters/mage/sorcerer/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/mage/sorcerer/sorcerer_numina_block_display.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/mage/sorcerer/sorcerer_advantage_display.html" %}
{% endblock advantages %}
{% block backgrounds %}{% endblock backgrounds %}
{% block freebies %}
    {% if object.status == "Sub" %}
        {% include "characters/mage/sorcerer/tl_freebies.html" %}
    {% endif %}
{% endblock freebies %}
