{% load static %}
{% comment %}
Sorcerer freebies step (SorcererFreebiesForm + ritual_form): points left and the costs,
the spend form, then what was spent. sorcerer-freebies.js shows the fields for the chosen
category by toggling d-none on the *_wrap ids and #id_create_ritual_form; keep them.
{% endcomment %}
{% if object.freebies > 0 %}
    <div class="tl-cols tl-cols--2">
        <p class="tl-chargen__line">
            <span class="tl-chargen__tag">Freebies remaining</span>
            <span class="tl-chargen__pool">{{ object.freebies }}</span>
        </p>
        <div class="tl-stack">
            <span class="tl-subhead">Costs</span>
            <table class="tl-table tl-table--compact">
                <tbody>
                    <tr><td>Attribute</td><td class="tl-num">5</td></tr>
                    <tr><td>Ability</td><td class="tl-num">2</td></tr>
                    <tr><td>Background</td><td class="tl-num">1</td></tr>
                    <tr><td>Willpower</td><td class="tl-num">2</td></tr>
                    <tr><td>Merits / Flaws</td><td class="tl-num">rating</td></tr>
                    <tr><td>Paths</td><td class="tl-num">7</td></tr>
                    <tr><td>Rituals</td><td class="tl-num">3</td></tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
<div class="tl-chargen__form">
    {% include "characters/mage/form/field.html" with field=form.category label="Trait type" %}
    <div class="d-none" id="example_wrap">
        {% include "characters/mage/form/field.html" with field=form.example label="Trait" %}
    </div>
    <div class="d-none" id="value_wrap">
        {% include "characters/mage/form/field.html" with field=form.value label="Rating" %}
    </div>
    <div class="d-none" id="note_wrap">
        {% include "characters/mage/form/field.html" with field=form.note label="Note" %}
    </div>
    <div class="d-none" id="practice_wrap">
        {% include "characters/mage/form/field.html" with field=form.practice label="Practice" %}
    </div>
    <div class="d-none" id="ability_wrap">
        {% include "characters/mage/form/field.html" with field=form.ability label="Ability" %}
    </div>
</div>
<div id="id_create_ritual_form" class="tl-chargen__form d-none">
    {% include "characters/mage/form/field.html" with field=ritual_form.name label="Ritual name" %}
    {% include "characters/mage/form/field.html" with field=ritual_form.path label="Path" %}
    {% include "characters/mage/form/field.html" with field=ritual_form.level label="Level" %}
    {% include "characters/mage/form/field.html" with field=ritual_form.description label="Description" %}
</div>
{% if object.spent_freebies %}
    <div class="tl-stack">
        <span class="tl-subhead">Spent</span>
        {% for item in object.spent_freebies %}
            <div class="tl-kv"><span>{{ item.trait }} {{ item.value }}</span><span class="tl-kv__v">{{ item.cost }}</span></div>
        {% endfor %}
    </div>
{% endif %}
<script src="{% static 'characters/js/sorcerer-freebies.js' %}" id="sorcerer-freebies-script" data-sorcerer-type="{{ object.sorcerer_type }}"></script>
