{% load dots sanitize_text %}
<div class="row">
                    <div class="col-sm">
                        <div class="tg-card">
                            <div class="tg-card-header">
                                <h5 class="tg-card-title {{ object.get_heading }}">Disciplines</h5>
                                <p class="tg-card-subtitle">Spend 3 dots on Clan Disciplines</p>
                            </div>
                            <div class="tg-card-body">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                </div>
