<div class="card location-card mb-4">
    <div class="card-header {{ object.get_heading }} d-flex justify-content-between align-items-center">
        <h5 class="mb-0 heading-text">Powers</h5>
        <span class="badge badge-light">Arete {{ object.arete }}</span>
    </div>
    <div class="card-body text-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4 justify-content-center">
            {% for power in object.powers.all %}
            <div class="col-3 mb-4">
                {% include "characters/mage/effect/summary.html" with object=power %}
            </div>
            {% empty %}
            <div class="alert alert-info mb-0">No powers available.</div>
        {% endfor %}
    </div>
    </div>
</div>

