{% extends "characters/wraith/wtohuman/detail.html" %}
{% comment %}
Wraith sheet (Spread C18): cover basics, Arcanoi (--acc) beside Advantages (Pathos,
Willpower, Corpus, Angst, then Backgrounds), then the line block: Passions & Fetters and
the Shadow.
{% endcomment %}
{% block basics %}
    {% include "characters/wraith/wraith/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/wraith/wraith/arcanoi_display.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/wraith/wraith/advantages_display.html" %}
{% endblock advantages %}
{% block backgrounds %}{% endblock backgrounds %}
{% block line %}
    {% include "characters/wraith/wraith/passions_fetters_display.html" %}
    {% include "characters/wraith/wraith/shadow_display.html" %}
{% endblock line %}
{% block history %}
    {% include "characters/wraith/wraith/history_display.html" %}
{% endblock history %}
