{% extends "core/base.html" %}
{% load static %}
{% block title %}
    {% load sanitize_text %}
    {{ object.name|sanitize_html }}
{% endblock title %}
{% block content %}
    {% csrf_token %}
    <div class="centertext container">
        <div class="container py-4">
            {% block image %}
                {% include "core/includes/image.html" %}
            {% endblock image %}
            {% block objectname %}
                {% include "core/includes/title.html" %}
            {% endblock objectname %}
            {% block references %}
                {% include "core/includes/references.html" %}
            {% endblock references %}
            {% block status %}
                <div class="row mb-1">
                    {% include "core/includes/status.html" %}
                    {% block status_row %}
                    {% endblock status_row %}
                </div>
            {% endblock status %}
            {% block contents %}
            {% endblock contents %}
            {% block description %}
                {% include "core/includes/description.html" %}
            {% endblock description %}
            {% block post_content %}
            {% endblock post_content %}
            {% block buttons %}
                {% include "core/includes/buttons.html" %}
            {% endblock buttons %}
        </div>
    </div>
{% endblock content %}
