{% extends "characters/tl/reference_list.html" %}
{% block title %}Resonances{% endblock title %}
{% block gameline %}mta{% endblock gameline %}
{% block cover_label %}Resonances{% endblock cover_label %}
{% block cover_title %}
    {% include "characters/tl/reference_cover_title.html" with eyebrow="Mage: the Ascension" title="Resonances" line="mta" %}
{% endblock cover_title %}
{% block filters %}
    <span class="tl-subhead">Associated with every checked sphere</span>
    <div class="tl-ref-maxes" data-filter-mode="all">
        <label class="tl-ref-check" for="filterCorrespondence"><input type="checkbox" data-filter-checkbox="sphere" value="correspondence" id="filterCorrespondence">Correspondence</label>
        <label class="tl-ref-check" for="filterEntropy"><input type="checkbox" data-filter-checkbox="sphere" value="entropy" id="filterEntropy">Entropy</label>
        <label class="tl-ref-check" for="filterForces"><input type="checkbox" data-filter-checkbox="sphere" value="forces" id="filterForces">Forces</label>
        <label class="tl-ref-check" for="filterLife"><input type="checkbox" data-filter-checkbox="sphere" value="life" id="filterLife">Life</label>
        <label class="tl-ref-check" for="filterMatter"><input type="checkbox" data-filter-checkbox="sphere" value="matter" id="filterMatter">Matter</label>
        <label class="tl-ref-check" for="filterMind"><input type="checkbox" data-filter-checkbox="sphere" value="mind" id="filterMind">Mind</label>
        <label class="tl-ref-check" for="filterPrime"><input type="checkbox" data-filter-checkbox="sphere" value="prime" id="filterPrime">Prime</label>
        <label class="tl-ref-check" for="filterSpirit"><input type="checkbox" data-filter-checkbox="sphere" value="spirit" id="filterSpirit">Spirit</label>
        <label class="tl-ref-check" for="filterTime"><input type="checkbox" data-filter-checkbox="sphere" value="time" id="filterTime">Time</label>
    </div>
{% endblock filters %}
{% block ref_create %}
    <a class="tl-btn tl-btn--quiet tl-ref-new" href="{% url 'characters:mage:create:resonance' %}">+ New resonance</a>
{% endblock ref_create %}
{% block content %}
    {% if object_list %}
        <table class="tl-table tl-table--ref">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Spheres</th>
                </tr>
            </thead>
            <tbody data-filterable-list="resonances">
                {% for obj in object_list %}
                    <tr data-filterable-item
                        data-name="{{ obj.name|lower }}"
                        data-sphere-correspondence="{{ obj.correspondence|yesno:'true,false' }}"
                        data-sphere-entropy="{{ obj.entropy|yesno:'true,false' }}"
                        data-sphere-forces="{{ obj.forces|yesno:'true,false' }}"
                        data-sphere-life="{{ obj.life|yesno:'true,false' }}"
                        data-sphere-matter="{{ obj.matter|yesno:'true,false' }}"
                        data-sphere-mind="{{ obj.mind|yesno:'true,false' }}"
                        data-sphere-prime="{{ obj.prime|yesno:'true,false' }}"
                        data-sphere-spirit="{{ obj.spirit|yesno:'true,false' }}"
                        data-sphere-time="{{ obj.time|yesno:'true,false' }}">
                        <td class="tl-ref-name"><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                        <td class="tl-ref-type">{{ obj.associated_spheres }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% include "characters/tl/reference_no_results.html" with text="No resonances match the current filters." empty="No resonances yet." %}
{% endblock content %}
