{% extends "locations/core/location/detail.html" %}
{% load tl sanitize_text %}
{% block type_facts %}
    {% fact "Control" object.get_control_status %}
    {% fact "Controlling faction" object.controlling_faction %}
    {% fact "Barrens type" object.barrens_type %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="statistics">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Territory</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Size" object.size %}
            {% trait "Danger" object.danger_level %}
            {% trait "Population" object.population_density %}
            {% trait "Feeding quality" object.feeding_quality %}
            {% trait "Masquerade risk" object.masquerade_threat %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="resources">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Resources &amp; threats</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% include "locations/tl/kv.html" with label="Feeding grounds" value=object.has_feeding_grounds|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Shelter" value=object.has_shelter|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Resources" value=object.has_resources|yesno:"Yes,No" %}
            <span class="tl-subhead">Active threats</span>
            {% include "locations/tl/kv.html" with label="Lupines" value=object.lupine_activity|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Hunters" value=object.hunter_activity|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Gangs" value=object.mortal_gang_activity|yesno:"Yes,No" %}
        </div>
    </section>
    {% if object.notable_locations %}
        <section class="tl-section" id="notable">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Notable locations</h2>
            </div>
            <div class="tl-section__body tl-prose">{{ object.notable_locations|sanitize_html|linebreaks }}</div>
        </section>
    {% endif %}
{% endblock model_specific %}
