{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Barrens{% endblock creation_title %}
{% block form_line %}vtm{% endblock form_line %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Barrens</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.size label="Size (1–5)" %}
                {% include "locations/tl/field.html" with field=form.danger_level label="Danger level (1–5)" %}
                {% include "locations/tl/field.html" with field=form.population_density label="Population density (0–5)" %}
                {% include "locations/tl/field.html" with field=form.barrens_type label="Barrens type" %}
                {% include "locations/tl/field.html" with field=form.controlling_faction label="Controlling faction" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Control</h2>
            <div class="tl-formgrid tl-formgrid--2">
                {% include "locations/tl/field.html" with field=form.is_contested label="Contested" %}
                {% include "locations/tl/field.html" with field=form.is_anarch_territory label="Anarch territory" %}
                {% include "locations/tl/field.html" with field=form.is_sabbat_territory label="Sabbat territory" %}
                {% include "locations/tl/field.html" with field=form.is_unclaimed label="Unclaimed" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Resources</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.has_feeding_grounds label="Has feeding grounds" %}
                {% include "locations/tl/field.html" with field=form.has_shelter label="Has shelter" %}
                {% include "locations/tl/field.html" with field=form.has_resources label="Has resources" %}
                {% include "locations/tl/field.html" with field=form.feeding_quality label="Feeding quality (1–5)" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Threats</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.lupine_activity label="Lupine activity" %}
                {% include "locations/tl/field.html" with field=form.hunter_activity label="Hunter activity" %}
                {% include "locations/tl/field.html" with field=form.mortal_gang_activity label="Mortal gang activity" %}
                {% include "locations/tl/field.html" with field=form.masquerade_threat label="Masquerade threat (1–5)" %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.notable_locations label="Notable locations" %}
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
{% endblock contents %}
