{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:vampire:create:barrens' %}">Create New Barrens</a>
{% endblock create %}
{% block list_head %}
    <th>Location</th>
    <th>Control</th>
    <th>Size</th>
    <th>Danger level</th>
    <th>Type</th>
{% endblock list_head %}
{% block list_cells %}
    <td>{% include "locations/tl/containers_cell.html" %}</td>
    <td>{{ obj.get_control_status }}</td>
    <td>{% dots obj.size %}</td>
    <td>{% dots obj.danger_level %}</td>
    <td>{{ obj.barrens_type|default:'—' }}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No barrens found." %}
{% endblock empty %}
