{% extends "locations/core/location/detail.html" %}
{% load tl sanitize_text %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="territory">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Territory</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div class="tl-stack">
                {% trait "Size" object.size %}
                {% trait "Population" object.population %}
                {% trait "Supernatural activity" object.supernatural_activity %}
                {% trait "Control level" object.control_level %}
                {% trait "Contact network" object.contact_network %}
                {% trait "Surveillance" object.surveillance_coverage %}
            </div>
            <div class="tl-stack">
                {% include "locations/tl/kv.html" with label="Total rating" value=object.total_rating %}
                {% include "locations/tl/kv.html" with label="Contested" value=object.is_contested|yesno:"Yes,No" %}
            </div>
        </div>
    </section>
    {% if object.primary_threat or object.last_incident or object.incident_log %}
        <section class="tl-section tl-span-6" id="threats">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Threats &amp; incidents</h2>
            </div>
            <div class="tl-section__body tl-stack tl-stack--lg">
                {% if object.primary_threat %}
                    <div class="tl-stack">
                        {% include "locations/tl/kv.html" with label="Primary threat" value=object.get_primary_threat_display %}
                        {% if object.threat_description %}<div class="tl-prose">{{ object.threat_description|sanitize_html|linebreaks }}</div>{% endif %}
                    </div>
                {% endif %}
                {% if object.last_incident %}
                    {% include "locations/tl/kv.html" with label="Last incident" value=object.last_incident %}
                {% endif %}
                {% include "characters/tl/prose_block.html" with label="Incident log" text=object.incident_log %}
            </div>
        </section>
    {% endif %}
    {% if object.key_locations %}
        <section class="tl-section" id="key-locations">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Key locations</h2>
            </div>
            <div class="tl-section__body tl-prose">{{ object.key_locations|sanitize_html|linebreaks }}</div>
        </section>
    {% endif %}
{% endblock model_specific %}
