{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:hunter:create:hunting_ground' %}">Create Hunting Ground</a>
{% endblock create %}
{% block list_head %}
    <th>Primary threat</th>
{% endblock list_head %}
{% block list_cells %}
    <td>{% if obj.primary_threat %}{{ obj.get_primary_threat_display }}{% else %}Unknown Threat{% endif %}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No hunting grounds found." %}
{% endblock empty %}
