/* staticfiles/themes/dark.css */
body {
    color: #f8f9fa;
    background-color: #212529;
}

a {
    color: #1e7e34;
}

a:hover {
    color: #155724;
}

a:visited {
    color: #82c091;
}

h1, h2, h3, h4, h5, h6 {
    color: #f8f9fa;
}

button {
    background-color: #343a40;
    color: #ffffff;
}

button:hover {
    background-color: #495057;
}

input, textarea {
    background-color: #495057;
    color: #f8f9fa;
    border: 1px solid #6c757d;
}

.card {
    background-color: #343a40;
    color: #f8f9fa;
    border: 1px solid #495057;
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
}

.st {
    color: #b8860b;
}

.alert {
    color: red;
    font-size: 30px;
}

.dots {
    font-size: 1rem;
}

.colored-dots {
    color: #f39c12;
}

.table_head_font_color {
    color: #f8f9fa;
}

.card-header {
    background-color: #2d3338;
    border-color: #495057;
}

.theme-card td, th {
    color: #f8f9fa;
}