/* staticfiles/themes/light.css */
body {
    color: #000000;
    background-color: #ffffff;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

a:visited {
    color: #551A8B;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

button {
    background-color: #007bff;
    color: #ffffff;
}

button:hover {
    background-color: #0056b3;
}

input, textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ced4da;
}

.card {
    background-color: #f8f9fa;
    color: #000000;
    border: 1px solid #dee2e6;
}

footer {
    background-color: #f1f1f1;
    color: #000000;
}

.st {
    color: #b8860b;
}

.alert {
    color: red;
    font-size: 30px;
}

.dots {
    font-size: 1rem;
}

.colored-dots {
    color: #f39c12;
}

.table_head_font_color {
    color: black;
}

.card-header {
    background-color: lightgray;
    border-color: #495057;
}

.theme-card td, th {
    color: black;
}