{% extends "core/tl_auth.html" %}
{% block title %}Log in{% endblock title %}
{% block auth_title %}Log in{% endblock auth_title %}
{% block auth_note %}
    {% if form.errors %}
        <p class="tl-auth__note tl-auth__note--error" role="alert">
            Your username and password didn't match. Please try again.
        </p>
    {% elif next %}
        {% if user.is_authenticated %}
            <p class="tl-auth__note">
                Your account doesn't have access to this page. To proceed, please log in with an account that has access.
            </p>
        {% else %}
            <p class="tl-auth__note">Please log in to see this page.</p>
        {% endif %}
    {% endif %}
{% endblock auth_note %}
{% block auth_body %}
    <form class="tl-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% include "core/tl/field.html" with field=form.username label="Username" %}
        {% include "core/tl/field.html" with field=form.password label="Password" %}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" id="login_button_id" class="tl-btn tl-btn--block">Log in</button>
    </form>
    <div class="tl-auth__foot">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
        <span class="tl-muted">New here? <a href="{% url 'accounts:signup' %}">Sign up</a></span>
    </div>
{% endblock auth_body %}
