{% extends "characters/mage/form/base.html" %}
{% comment %} Rote create / edit: the rote (name, practice, dice pool, description) and its effect. {% endcomment %}
{% block creation_title %}Create Rote{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% include "characters/mage/form/field.html" with field=form.practice %}
        {% include "characters/mage/form/field.html" with field=form.effect %}
        {% include "characters/mage/form/field.html" with field=form.attribute %}
        {% include "characters/mage/form/field.html" with field=form.ability %}
        {% include "characters/mage/form/field.html" with field=form.description %}
    </div>
{% endblock contents %}
