{% extends "core/form.html" %}
{% block creation_title %}
    {% if object %}
        Edit {{ object.name }}
    {% else %}
        Create Rote
    {% endif %}
{% endblock creation_title %}
{% block contents %}
    {% include "characters/mage/rote/form_includes/basic.html" %}
    {% include "characters/mage/rote/form_includes/effect.html" %}
{% endblock contents %}
{% block buttons %}
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Save Rote
    </button>
{% endblock buttons %}
