{% extends "core/object.html" %}
{% load sanitize_text dots %}
{% block objectname %}
    {% include "locations/core/location/display_includes/title.html" %}
{% endblock objectname %}
{% block status_row %}
    {% include "locations/core/location/display_includes/boundaries.html" %}
{% endblock status_row %}
{% block contents %}
    {% block model_specific %}
    {% endblock model_specific %}
    {% block reality_zone %}
    {% endblock reality_zone %}
    {% block additional_content %}
    {% endblock additional_content %}
{% endblock contents %}
{% block post_content %}
    {% include "locations/core/location/display_includes/scenes.html" %}
{% endblock post_content %}
