{% extends "core/tl_auth.html" %}
{% block title %}Password reset sent{% endblock title %}
{% block auth_title %}Check your email{% endblock auth_title %}
{% block auth_note %}
    <p class="tl-auth__note">
        We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.
    </p>
{% endblock auth_note %}
{% block auth_body %}
    <p class="tl-muted">
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
    <div class="tl-auth__foot">
        <a href="{% url 'login' %}">Back to login</a>
    </div>
{% endblock auth_body %}
