{% extends "core/tl_auth.html" %}
{% block title %}Reset password{% endblock title %}
{% block auth_title %}Reset password{% endblock auth_title %}
{% block auth_note %}
    <p class="tl-auth__note">
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
{% endblock auth_note %}
{% block auth_body %}
    <form class="tl-form" method="post">
        {% csrf_token %}
        {% include "core/tl/field.html" with field=form.email label="Email address" %}
        <button type="submit" class="tl-btn tl-btn--block">Send reset email</button>
    </form>
    <div class="tl-auth__foot">
        <a href="{% url 'login' %}">Back to login</a>
    </div>
{% endblock auth_body %}
