{% extends "core/tl_auth.html" %}
{% block title %}Set new password{% endblock title %}
{% block auth_title %}Set new password{% endblock auth_title %}
{% block auth_note %}
    {% if validlink %}
        <p class="tl-auth__note">
            Please enter your new password twice so we can verify you typed it in correctly.
        </p>
    {% else %}
        <p class="tl-auth__note tl-auth__note--error" role="alert">
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
    {% endif %}
{% endblock auth_note %}
{% block auth_body %}
    {% if validlink %}
        <form class="tl-form" method="post">
            {% csrf_token %}
            {% include "core/tl/field.html" with field=form.new_password1 label="New password" help_template="accounts/auth/password_rules.html" %}
            {% include "core/tl/field.html" with field=form.new_password2 label="Confirm new password" %}
            <button type="submit" class="tl-btn tl-btn--block">Change password</button>
        </form>
    {% else %}
        <a href="{% url 'password_reset' %}" class="tl-btn tl-btn--block">Request a new reset link</a>
    {% endif %}
    <div class="tl-auth__foot">
        <a href="{% url 'login' %}">Back to login</a>
    </div>
{% endblock auth_body %}
