{% extends "core/form.html" %}
{% block creation_title %}
    Create House Faction
{% endblock creation_title %}
{% block contents %}
    {% load dots %}
    <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">{{ form.name }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Description</div>
        <div class="col-sm">{{ form.description }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Houses</div>
        <div class="col-sm">{{ form.houses }}</div>
    </div>
{% endblock contents %}
