{% extends "characters/werewolf/wtahuman/detail.html" %}
{% comment %}Fomor sheet: Fomori Powers (--acc) and Willpower, Rage and Gnosis.{% endcomment %}
{% block basics %}
    {% include "characters/werewolf/fomor/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% with powers=object.powers.all %}
        {% if powers %}
            <section class="tl-section tl-section--power tl-span-6" id="powers">
                <div class="tl-section__head">
                    <span class="tl-section__num"></span>
                    <h2 class="tl-section__title">Fomor Powers</h2>
                </div>
                <div class="tl-section__body tl-powergrid tl-powergrid--2">
                    {% for power in powers %}
                        <div class="tl-power">
                            <span class="tl-power__name"><a href="{{ power.get_absolute_url }}">{{ power.name }}</a></span>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/werewolf/tl/advantages.html" with pools="nonzero" %}
{% endblock advantages %}
