{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block cover_rank %}
    {% if object.concealment_rating %}<span class="tl-cover__rank">{% dots object.concealment_rating %}</span>{% endif %}
{% endblock cover_rank %}
{% block type_facts %}
    {% fact "Sanctuary type" object.get_sanctuary_type_display %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="sanctuary">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Sanctuary</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Concealment" object.concealment_rating %}
        </div>
    </section>
{% endblock model_specific %}
