{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Underground Sanctuary{% endblock creation_title %}
{% block form_line %}mtr{% endblock form_line %}
{% block formdetails %}method="post" id="sanctuaryForm" action="" novalidate{% endblock formdetails %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
            {% include "locations/tl/field.html" with field=form.sanctuary_type label="Type" %}
            {% include "locations/tl/field.html" with field=form.concealment_rating label="Concealment rating" %}
        </div>
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
{% endblock contents %}
