{% extends "characters/core/character/detail.html" %}
{% comment %}
Shared sheet order for every human-based character. Gamelines override blocks, never
the order: attributes, abilities, the line's powers (--acc), advantage tracks,
backgrounds, the line's own block, health, merits, languages, equipment, allies,
appearance, history, journal.
{% endcomment %}
{% load tl %}
{% block basics %}
    {% include "characters/shared/human/basics_display_include.html" %}
{% endblock basics %}
{% block statistics %}
    {% block attributes %}
        {% include "characters/core/attribute_block/detail.html" %}
    {% endblock attributes %}
    {% block abilities %}
        {% include "characters/shared/human/ability_block_display.html" %}
    {% endblock abilities %}
    {% block powers %}
    {% endblock powers %}
    {% block advantages %}
        {% include "characters/core/human/advantages_display.html" %}
    {% endblock advantages %}
    {% block backgrounds %}
        {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds span="tl-span-6" %}
    {% endblock backgrounds %}
    {% block line %}
    {% endblock line %}
    {% block passions %}
    {% endblock passions %}
    {% block fetters %}
    {% endblock fetters %}
    {% block health %}
        {% include "characters/core/human/health_block_display.html" %}
    {% endblock health %}
    {% block mfs %}
        {% include "characters/tl/merits.html" with span="tl-span-6" %}
    {% endblock mfs %}
    {% block languages %}
        {% include "characters/core/human/language_display_block.html" %}
    {% endblock languages %}
    {% block equipment %}
        {% include "characters/core/human/equipment_block.html" %}
    {% endblock equipment %}
    {% block allies %}
    {% endblock allies %}
{% endblock statistics %}
{% block flavor %}
    {% block appearance %}
        {% include "characters/tl/appearance.html" %}
    {% endblock appearance %}
    {% block history %}
        {% include "characters/tl/history.html" %}
    {% endblock history %}
    {% block journal %}
        {% include "characters/tl/journal_link.html" %}
    {% endblock journal %}
{% endblock flavor %}
