{% extends "characters/core/character/detail.html" %}
{% block statistics %}
    {% load dots %}
    {% load get_specialty %}
    {% block basics %}
        <div class="row mb-4">
            <div class="col-12">
                <div class="tg-card">
                    <div class="tg-card-header">
                        <h5 class="tg-card-title {{ object.get_heading }}">Basics</h5>
                    </div>
                    <div class="tg-card-body">
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <strong>Name:</strong>
                            </div>
                            <div class="col-sm-3">{{ object.name }}</div>
                            <div class="col-sm-3">
                                <strong>Nature:</strong>
                            </div>
                            <div class="col-sm-3">
                                <a href="{{ object.nature.get_absolute_url }}">{{ object.nature }}</a>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-3">
                                <strong>Player:</strong>
                            </div>
                            <div class="col-sm-3">{{ object.owner }}</div>
                            <div class="col-sm-3">
                                <strong>Demeanor:</strong>
                            </div>
                            <div class="col-sm-3">
                                <a href="{{ object.demeanor.get_absolute_url }}">{{ object.demeanor }}</a>
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-sm-3">
                                <strong>Concept:</strong>
                            </div>
                            <div class="col-sm-9">{{ object.concept }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock basics %}
    {% block attributes %}
        {% include "characters/core/attribute_block/detail.html" %}
    {% endblock attributes %}
    {% block abilities %}
    {% endblock abilities %}
    {% block advantages %}
        {% include "characters/core/human/advantages_display.html" %}
    {% endblock advantages %}
    {% block backgrounds %}
        {% include "characters/core/background_block/detail.html" with backgrounds=object.backgrounds %}
    {% endblock backgrounds %}
    {% block powers %}
    {% endblock powers %}
    {% block mfs %}
        {% include "characters/core/meritflaw/display_includes/meritflaw_block.html" %}
    {% endblock mfs %}
    {% block languages %}
        {% include "characters/core/human/language_display_block.html" %}
    {% endblock languages %}
    {% block equipment %}
    {% endblock equipment %}
    {% block allies %}
    {% endblock allies %}
{% endblock statistics %}
{% block flavor %}
    {% block appearance %}
        <div class="row mb-4">
            <div class="col-12">
                <div class="tg-card">
                    <div class="tg-card-header">
                        <h5 class="tg-card-title {{ object.get_heading }}">Appearance</h5>
                    </div>
                    <div class="tg-card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <strong>Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">{{ object.date_of_birth }}</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <strong>Apparent Age:</strong>
                            </div>
                            <div class="col-sm-4">{{ object.apparent_age }}</div>
                            <div class="col-sm-4">
                                <strong>Age:</strong> {{ object.age }}
                            </div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-sm-4">
                                <strong>Description:</strong>
                            </div>
                            <div class="col-sm-8">{{ object.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock appearance %}
    {% block history %}
        <div class="row mb-4">
            <div class="col-12">
                <div class="tg-card">
                    <div class="tg-card-header">
                        <h5 class="tg-card-title {{ object.get_heading }}">History</h5>
                    </div>
                    <div class="tg-card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <strong>History:</strong>
                            </div>
                            <div class="col-sm-8">{{ object.history }}</div>
                        </div>
                        <div class="row mb-0">
                            <div class="col-sm-2">
                                <strong>Goals:</strong>
                            </div>
                            <div class="col-sm-4">{{ object.goals }}</div>
                            <div class="col-sm-2">
                                <strong>Notes:</strong>
                            </div>
                            <div class="col-sm-4">{{ object.notes }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock history %}
    {% block health %}
    {% endblock health %}
    {% block freebies %}
    {% endblock freebies %}
    {% block xp %}
    {% endblock xp %}
    {% block journal %}
        <div class="row mb-4">
            <div class="col-12">
                <div class="tg-card">
                    <div class="tg-card-header text-center">
                        <h5 class="tg-card-title {{ object.get_heading }}">
                            <a href="{{ object.journal.get_absolute_url }}">{{ object.name }} Journal</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    {% endblock journal %}
{% endblock flavor %}
