{% extends "core/form.html" %}
{% load tl_forms %}
{% comment %}
First chargen step for a plain human: name, concept, Nature and Demeanor (plus the
player when a view's form offers it). Any other field the form carries follows.
{% endcomment %}
{% block content_mod %}{% endblock content_mod %}
{% block creation_title %}Create Human{% endblock creation_title %}
{% block errors %}
    {% include "core/misc/form_errors.html" %}
{% endblock errors %}
{% block contents %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    <div class="tl-formgrid tl-formgrid--2">
        {% for field in form|fields_only:"name owner concept nature demeanor" %}
            {% include "core/tl/field.html" with label="" help=field.help_text %}
        {% endfor %}
    </div>
    {% include "core/misc/field_sections.html" with fields=form|fields_except:"name owner concept nature demeanor" %}
{% endblock contents %}
