{% with languages=object.languages.all %}
    {% if languages %}
        <section class="tl-section tl-span-6" id="languages">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Languages</h2>
            </div>
            <div class="tl-section__body tl-stack">
                {% for lang in languages %}<div>{{ lang }}</div>{% endfor %}
            </div>
        </section>
    {% endif %}
{% endwith %}
