{% extends "locations/core/location/form.html" %}
{% block creation_title %}Create Byway{% endblock creation_title %}
{% block form_line %}wto{% endblock form_line %}
{% block other %}
    <section class="tl-locgroup">
        <h2 class="tl-subhead">Route</h2>
        <div class="tl-formgrid">
            {% include "locations/tl/field.html" with field=form.origin %}
            {% include "locations/tl/field.html" with field=form.destination %}
            {% include "locations/tl/field.html" with field=form.travel_time %}
        </div>
    </section>
    <section class="tl-locgroup">
        <h2 class="tl-subhead">Hazards</h2>
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.danger_level %}
            {% include "locations/tl/field.html" with field=form.stability %}
            {% include "locations/tl/field.html" with field=form.maelstrom_proximity %}
            {% include "locations/tl/field.html" with field=form.spectral_activity %}
        </div>
        <div class="tl-formgrid">
            {% include "locations/tl/field.html" with field=form.has_waystation %}
            {% include "locations/tl/field.html" with field=form.patrolled %}
            {% include "locations/tl/field.html" with field=form.haunted %}
        </div>
    </section>
{% endblock other %}
