{% load dots %}
<div class="tg-card mb-4">
    <div class="tg-card-header">
        <h5 class="tg-card-title {{ object.get_heading }}">Backgrounds</h5>
    </div>
    <div class="tg-card-body">
        <div class="row">
            {% for background in backgrounds.all %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="tg-card h-100">
                        <div class="tg-card-body">
                            <h5 class="tg-card-title {{ object.get_heading }}">
                                <div>
                                    {% if background.display_alt_name %}
                                        {{ background.bg.alternate_name }}
                                    {% else %}
                                        {{ background.bg.name }}
                                    {% endif %}
                                </div>
                            </h5>
                            <p>
                                <strong>Rating:</strong>
                                <span class="dots colored-dots">{{ background.rating|dots }}</span>
                            </p>
                            {% if background.note %}
                                <p>
                                    <small>
                                        {% if background.url %}
                                            <a href="{{ background.url }}">{{ background.note }}</a>
                                        {% else %}
                                            {{ background.note }}
                                        {% endif %}
                                    </small>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <p class="text-muted mb-0">No backgrounds defined.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>