{% extends "core/base.html" %}
{% block title %}
    Hunter Edges
{% endblock title %}
{% block content %}
    <div class="centertext container">
        <div class="container py-4">
            <div class="row mb-4">
                <div class="col-12">
                    <div class="tg-card header-card" data-gameline="htr">
                        <div class="tg-card-header">
                            <h1 class="tg-card-title htr_heading">Hunter Edges</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="tg-card">
                        <div class="tg-card-body">
                            {% for obj in object_list %}
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <a href="{% url 'characters:hunter:edge' obj.pk %}">{{ obj.name }}</a>
                                    </div>
                                    <div class="col-sm-3 text-muted">
                                        {{ obj.get_virtue_display }}
                                    </div>
                                    <div class="col-sm-3 text-muted">
                                        Level {{ obj.level }}
                                    </div>
                                </div>
                            {% empty %}
                                <div class="row">
                                    <div class="col-sm">No edges found.</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="tg-card">
                        <div class="tg-card-body text-center">
                            <a href="{% url 'characters:hunter:create:edge' %}" class="tg-btn btn-primary">Create Edge</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
