{% extends "characters/mage/form/base.html" %}
{% comment %}
Mage faction create / edit. Founded and Ended are years, negative for BC; an Ended of
5000 or later (the default) means the faction still exists.
{% endcomment %}
{% block creation_title %}Create Faction{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% include "characters/mage/form/field.html" with field=form.parent label="Parent faction" %}
        {% include "characters/mage/form/field.html" with field=form.founded %}
        {% include "characters/mage/form/field.html" with field=form.ended %}
        {% include "characters/mage/form/field.html" with field=form.description %}
        {% include "characters/mage/form/field.html" with field=form.affinities %}
        {% include "characters/mage/form/field.html" with field=form.paradigms %}
        {% include "characters/mage/form/field.html" with field=form.practices %}
        {% include "characters/mage/form/field.html" with field=form.languages %}
        {% include "characters/mage/form/field.html" with field=form.media %}
        {% include "characters/mage/form/field.html" with field=form.materials %}
    </div>
{% endblock contents %}
