{% extends "characters/werewolf/tl/form.html" %}
{% block creation_title %}Create Rite{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.level %}
        {% include "core/tl/field.html" with field=form.rite_type label="Type" %}
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
    </div>
{% endblock contents %}
