{% extends "game/tl/form.html" %}
{% load tl %}
{% block title %}{% if object.pk %}Update Story XP Request{% else %}Create Story XP Request{% endif %}{% endblock title %}
{% block gameline %}{{ character|gameline_code }}{% endblock gameline %}
{% block cover_kind %}line{% endblock cover_kind %}
{% block form_eyebrow %}{% if object.pk %}Edit · Story XP request{% else %}New story XP request{% endif %}{% endblock form_eyebrow %}
{% block form_title %}{{ character.name }}{% endblock form_title %}
{% block cancel_url %}{% if object.pk %}{% url 'game:story_xp_request:detail' object.pk %}{% else %}{% url 'game:story_xp_request:list' %}{% endif %}{% endblock cancel_url %}
