{% extends "items/tl/list.html" %}
{% block title %}Materials{% endblock title %}
{% block heading %}Materials{% endblock heading %}
{% block columns %}
    <th scope="col">Hardness</th>
{% endblock columns %}
{% block row %}
    <td class="tl-itemtable__type">
        {% if obj.is_hard %}
            Hard
        {% else %}
            Soft
        {% endif %}
    </td>
{% endblock row %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No materials yet." %}
{% endblock empty %}
