{% extends "items/core/item/detail.html" %}
{% load dots %}
{% block status_row %}
    {% include "items/mage/wonder/display_includes/basics.html" %}
{% endblock status_row %}
{% block contents %}
    {% block additional_stats %}
        {% block creation %}
        {% endblock creation %}
        {% block resonance %}
            <div class="row mb-4">
                <div class="col-12">{% include "characters/mage/resonance/display_includes/resonance.html" %}</div>
            </div>
        {% endblock resonance %}
        {% block powers %}
        {% endblock powers %}
    {% endblock additional_stats %}
{% endblock contents %}
