{% extends "core/object.html" %}
{% block contents %}
    {% if is_approved_user %}
        {% block statistics %}
            {% block basics %}
                <div class="row">
                    <h2 class="col-sm {{ object.get_heading }}">Basics</h2>
                </div>
                <div class="row">
                    <div class="col-sm">Concept</div>
                    <div class="col-sm">{{ object.concept }}</div>
                </div>
            {% endblock basics %}
        {% endblock statistics %}
        {% block flavor %}
        {% endblock flavor %}
    {% else %}
        {% include "characters/core/character/not_owner.html" %}
    {% endif %}
{% endblock contents %}
{% block post_content %}
    {% include "characters/core/character/char_scene_display.html" %}
{% endblock post_content %}
{% block buttons %}
    {% include "characters/core/character/display_includes/buttons.html" %}
{% endblock buttons %}
