{% extends "core/errors/error.html" %}
{% block title %}Log in required · 401{% endblock title %}
{% block error_code %}401{% endblock error_code %}
{% block error_headline %}Log in to continue.{% endblock error_headline %}
{% block error_text %}
    This page is only open to members. Log in to continue, or create an account if you don't have one yet.
{% endblock error_text %}
{% block error_actions %}
    <a class="tl-btn" href="{% url 'login' %}{% if request.path %}?next={{ request.path|urlencode }}{% endif %}">Log in</a>
    <a class="tl-btn tl-btn--ghost" href="{% url 'accounts:signup' %}">Sign up</a>
    <a class="tl-btn tl-btn--quiet" href="{% url 'core:home' %}">Go home →</a>
{% endblock error_actions %}
