{% extends "core/errors/error.html" %}
{% block title %}Server error · 500{% endblock title %}
{% block error_code %}500{% endblock error_code %}
{% block error_headline %}Something broke on our end.{% endblock error_headline %}
{% block error_text %}
    The error has been logged. Please try again in a moment, and report it if it keeps happening.
{% endblock error_text %}
{% block error_actions %}
    <a class="tl-btn" href="{% url 'core:home' %}">Go home</a>
    <a class="tl-btn tl-btn--ghost" href="https://github.com/charlesmsiegel/tg/issues">Report a problem</a>
{% endblock error_actions %}
