{% extends "characters/demon/dtfhuman/detail.html" %}
{% comment %}
Thrall sheet: Master on the cover; Enhancements (accent) beside Faith Potential, Daily
Faith and Willpower; Backgrounds beside Virtues; then the active pacts.
{% endcomment %}
{% load tl %}
{% block basics %}
    {% fact "Master" object.master %}
    {% fact "Nature" object.nature %}
    {% fact "Demeanor" object.demeanor %}
{% endblock basics %}
{% block powers %}
    {% if object.enhancements %}
        <section class="tl-section tl-section--power tl-span-7" id="enhancements">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Enhancements</h2>
            </div>
            <div class="tl-section__body tl-stack">
                {% for enhancement in object.enhancements %}
                    <div>{{ enhancement }}</div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock powers %}
{% block advantages %}
    <section class="tl-section tl-span-5" id="advantages">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Advantages</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div>
                {% track "Faith Potential" perm=object.faith_potential total=5 variant="acc" %}
                {% track "Willpower" perm=object.willpower temp=object.temporary_willpower %}
            </div>
            <div class="tl-kv">
                <span class="tl-subhead">Daily Faith</span>
                <span class="tl-kv__v">{{ object.daily_faith_offered }}</span>
            </div>
        </div>
    </section>
{% endblock advantages %}
{% block line %}
    {% include "characters/demon/display_includes/virtues.html" with span="tl-span-6" %}
    {% include "characters/demon/display_includes/pacts.html" with pacts=object.get_active_pacts title="Active Pacts" %}
{% endblock line %}
