{% extends "characters/tl/ref2_chars.html" %}
{% block title %}Thralls{% endblock title %}
{% block gameline %}dtf{% endblock gameline %}
{% block chars_eyebrow %}Demon: the Fallen{% endblock chars_eyebrow %}
{% block chars_title %}Thralls{% endblock chars_title %}
{% block chars_list %}
    {% for obj in thralls %}
        {% include "characters/tl/ref2_char_tile.html" with char=obj %}
    {% endfor %}
{% endblock chars_list %}
{% block chars_empty %}
    {% include "core/tl/empty.html" with text="No thralls found." %}
{% endblock chars_empty %}
