{% extends "items/core/item/detail.html" %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="gear">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Gear</h2>
        </div>
        <div class="tl-section__body tl-stack">
            <div class="tl-kv"><span>Gear type</span><span class="tl-kv__v">{{ object.get_gear_type_display }}</span></div>
            {% if object.damage %}
                <div class="tl-kv"><span>Damage</span><span class="tl-kv__v">{{ object.damage }}</span></div>
            {% endif %}
            {% if object.range %}
                <div class="tl-kv"><span>Range</span><span class="tl-kv__v">{{ object.range }}</span></div>
            {% endif %}
            {% if object.rate %}
                <div class="tl-kv"><span>Rate</span><span class="tl-kv__v">{{ object.rate }}</span></div>
            {% endif %}
            {% if object.capacity %}
                <div class="tl-kv"><span>Capacity</span><span class="tl-kv__v">{{ object.capacity }}</span></div>
            {% endif %}
            {% if object.concealability %}
                <div class="tl-kv"><span>Concealability</span><span class="tl-kv__v">{{ object.concealability }}</span></div>
            {% endif %}
            <div class="tl-kv"><span>Availability</span><span class="tl-kv__v">{{ object.availability }}</span></div>
            <div class="tl-kv"><span>Legality</span><span class="tl-kv__v">{{ object.get_legality_display }}</span></div>
            <div class="tl-kv">
                <span>Requires training</span>
                <span class="tl-kv__v">
                    {% if object.requires_training %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
        </div>
    </section>
{% endblock model_specific %}
