{% extends "items/tl/form.html" %}
{% block creation_title %}Create Hunter Gear{% endblock creation_title %}
{% block contents %}
    <div class="tl-itemform">
        <div class="tl-formgrid">
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
            {% include "core/tl/field.html" with field=form.gear_type label="Gear type" %}
            {% include "core/tl/field.html" with field=form.availability %}
            {% include "core/tl/field.html" with field=form.legality %}
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
        </div>
        <section class="tl-section" aria-labelledby="gear-stats-title">
            <div class="tl-section__head">
                <span class="tl-section__num">01</span>
                <h2 class="tl-section__title" id="gear-stats-title">Statistics</h2>
            </div>
            <div class="tl-section__body tl-formgrid">
                {% include "core/tl/field.html" with field=form.damage %}
                {% include "core/tl/field.html" with field=form.range %}
                {% include "core/tl/field.html" with field=form.rate %}
                {% include "core/tl/field.html" with field=form.capacity %}
                {% include "core/tl/field.html" with field=form.concealability %}
                {% include "core/misc/check.html" with field=form.requires_training label="Requires training" %}
            </div>
        </section>
    </div>
{% endblock contents %}
