{% extends "items/tl/list.html" %}
{% block title %}Hunter Gear{% endblock title %}
{% block gameline %}htr{% endblock gameline %}
{% block eyebrow %}Hunter{% endblock eyebrow %}
{% block heading %}Hunter Gear{% endblock heading %}
{% block create_action %}
    <a href="{% url 'items:hunter:create:gear' %}" class="tl-btn tl-btn--block">Create gear</a>
{% endblock create_action %}
{% block columns %}
    <th scope="col">Gear type</th>
{% endblock columns %}
{% block row %}
    <td class="tl-itemtable__type">{{ obj.get_gear_type_display }}</td>
{% endblock row %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No gear found." %}
{% endblock empty %}
