{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Size" object.get_size_display %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="statistics">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Haven</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Total rating" object.total_rating total=10 %}
            {% trait "Security" object.security %}
            {% trait "Location" object.location %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="features">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Features</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% include "locations/tl/kv.html" with label="Guardian" value=object.has_guardian|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Luxury" value=object.has_luxury|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Hidden" value=object.is_hidden|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Library" value=object.has_library|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Workshop" value=object.has_workshop|yesno:"Yes,No" %}
        </div>
    </section>
    {% include "characters/tl/merits.html" with span="tl-span-6" %}
{% endblock model_specific %}
