{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Haven{% endblock creation_title %}
{% block form_line %}vtm{% endblock form_line %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Haven</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.size %}
                {% include "locations/tl/field.html" with field=form.security label="Security (0–5)" %}
                {% include "locations/tl/field.html" with field=form.location label="Location quality (0–5)" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Features</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.has_guardian label="Has guardian" %}
                {% include "locations/tl/field.html" with field=form.has_luxury label="Luxurious" %}
                {% include "locations/tl/field.html" with field=form.is_hidden label="Hidden location" %}
                {% include "locations/tl/field.html" with field=form.has_library label="Contains library" %}
                {% include "locations/tl/field.html" with field=form.has_workshop label="Contains workshop" %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
{% endblock contents %}
