{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:vampire:create:haven' %}">Create New Haven</a>
{% endblock create %}
{% block list_head %}
    <th>Location</th>
    <th>Size</th>
    <th>Security</th>
    <th>Location quality</th>
    <th>Total rating</th>
{% endblock list_head %}
{% block list_cells %}
    <td>{% include "locations/tl/containers_cell.html" %}</td>
    <td>{{ obj.get_size_display }}</td>
    <td>{% dots obj.security %}</td>
    <td>{% dots obj.location %}</td>
    <td>{% dots obj.total_rating 10 %}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No havens found." %}
{% endblock empty %}
