{% load static %}
{% if can_retire or can_decease %}
    <div class="d-flex justify-content-center">
        {% if can_retire %}
            <form method="post" action="{% url 'characters:retire' object.pk %}" class="mr-2">
                {% csrf_token %}
                <input type="submit" value="Mark Retired" class="btn btn-warning" />
            </form>
        {% endif %}
        {% if can_decease %}
            <form method="post" action="{% url 'characters:decease' object.pk %}">
                {% csrf_token %}
                <input type="submit" value="Mark Deceased" class="btn btn-danger" />
            </form>
        {% endif %}
    </div>
{% endif %}
