{% extends "characters/changeling/ctdhuman/detail.html" %}
{% load tl %}
{% block basics %}
    {% fact "Nature" object.nature %}
    {% fact "Demeanor" object.demeanor %}
    {% fact "Archetype" object.get_archetype_display %}
    {% fact "Awareness" object.get_awareness_display %}
    {% fact "Organization" object.organization %}
    {% if object.is_dauntain %}
        {% fact "Dauntain" "Yes" %}
        {% fact "Former Kith" object.former_kith %}
    {% endif %}
{% endblock basics %}
{% block advantages %}
    <section class="tl-section tl-span-6" id="advantages">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Advantages</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div>
                {% track "Willpower" perm=object.willpower temp=object.temporary_willpower %}
                {% track "Banality" perm=object.banality_rating %}
            </div>
            {% include "characters/tl/prose_block.html" with label="Motivation" text=object.motivation %}
            {% include "characters/tl/prose_block.html" with label="Sphere of Influence" text=object.sphere_of_influence %}
            {% if object.anti_fae_abilities %}
                <div class="tl-stack">
                    <span class="tl-subhead">Anti-Fae Abilities</span>
                    {% for ability in object.anti_fae_abilities %}<div>{{ ability }}</div>{% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock advantages %}
