{% extends "characters/core/group/form.html" %}
{% comment %}Create / edit a motley: the group form plus its member list.{% endcomment %}
{% block creation_title %}Create Motley{% endblock creation_title %}
{% block contents %}
    {% include "core/tl/field.html" with field=form.name %}
    {% include "core/tl/field.html" with field=form.leader %}
    {% include "core/tl/field.html" with field=form.members %}
    {% include "core/tl/field.html" with field=form.description %}
{% endblock contents %}
