{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Consecrated" object.consecration_date|default:"Not specified" %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-section--power tl-span-7" id="bastion">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Bastion</h2>
        </div>
        <div class="tl-section__body tl-stats">
            {% include "locations/tl/stat.html" with label="Ritual strength" value=object.ritual_strength %}
            {% include "locations/tl/stat.html" with label="Warding level" value=object.warding_level %}
        </div>
    </section>
{% endblock model_specific %}
