{% extends "locations/core/location/form.html" %}
{% block creation_title %}Create Bastion{% endblock creation_title %}
{% block form_line %}dtf{% endblock form_line %}
{% block other %}
    <section class="tl-locgroup">
        <h2 class="tl-subhead">Bastion</h2>
        <div class="tl-formgrid">
            {% include "locations/tl/field.html" with field=form.ritual_strength label="Ritual strength" %}
            {% include "locations/tl/field.html" with field=form.warding_level label="Warding level" %}
            {% include "locations/tl/field.html" with field=form.consecration_date label="Consecration date" %}
        </div>
    </section>
{% endblock other %}
