{% extends "locations/core/location/detail.html" %}
{% block type_facts %}
    <div class="tl-facts__row">
        <span class="tl-facts__k">Sphere</span>
        <span class="tl-facts__v">
            {{ object.get_primary_sphere_display }}{% if object.secondary_sphere %} + {{ object.get_secondary_sphere_display }}{% endif %}
        </span>
    </div>
    <div class="tl-facts__row">
        <span class="tl-facts__k">Paradigm</span>
        <span class="tl-facts__v">
            {{ object.get_paradigm_display }}{% if object.secondary_paradigm %} + {{ object.get_secondary_paradigm_display }}{% endif %}
        </span>
    </div>
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-section--power" id="realm">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Paradox realm</h2>
        </div>
        <div class="tl-section__body tl-stats">
            {% include "locations/tl/stat.html" with label="Primary sphere obstacles" value=object.num_primary_obstacles %}
            {% include "locations/tl/stat.html" with label="Random obstacles" value=object.num_random_obstacles %}
            {% include "locations/tl/stat.html" with label="Final obstacle" value=object.get_final_obstacle_type_display text=True %}
        </div>
    </section>
    {% if atmospheres %}
        <section class="tl-section tl-span-6" id="atmosphere">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Atmosphere</h2>
            </div>
            <div class="tl-section__body tl-stack tl-stack--lg">
                {% for atmosphere in atmospheres %}
                    <div class="tl-stack">
                        <span class="tl-subhead">{{ atmosphere.get_paradigm_display }} #{{ atmosphere.atmosphere_number }}</span>
                        <p>{{ atmosphere.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if obstacles %}
        <section class="tl-section tl-span-6" id="obstacles">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Obstacles</h2>
            </div>
            <div class="tl-section__body tl-stack tl-stack--lg">
                {% for obstacle in obstacles %}
                    <div class="tl-stack">
                        <span class="tl-subhead">Obstacle {{ forloop.counter }} · {{ obstacle.get_sphere_display }} #{{ obstacle.obstacle_number }}</span>
                        <span class="tl-grouphead__name">{{ obstacle.name }}</span>
                        {% if obstacle.description %}<p>{{ obstacle.description }}</p>{% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock model_specific %}
{% block reality_zone %}
    {% include "locations/mage/reality_zone/display_includes/reality_zone.html" with zone=object.reality_zone span="tl-span-6" %}
{% endblock reality_zone %}
