{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:mage:create:paradox_realm' %}">Create New Paradox Realm</a>
{% endblock create %}
{% block list_head %}
    <th>Sphere</th>
    <th>Paradigm</th>
    <th class="tl-num">Obstacles</th>
{% endblock list_head %}
{% block list_cells %}
    <td>{{ obj.get_primary_sphere_display }}{% if obj.secondary_sphere %} + {{ obj.get_secondary_sphere_display }}{% endif %}</td>
    <td>{{ obj.get_paradigm_display }}</td>
    <td class="tl-num">{{ obj.get_obstacles.count }}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No paradox realms found. Create one to get started!" %}
{% endblock empty %}
