{% extends "items/tl/form.html" %}
{% block creation_title %}Create Wraith Artifact{% endblock creation_title %}
{% block contents %}
    <div class="tl-itemform">
        <div class="tl-formgrid">
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
            {% include "core/tl/field.html" with field=form.level %}
            {% include "core/tl/field.html" with field=form.artifact_type label="Artifact type" %}
            {% include "core/tl/field.html" with field=form.material %}
            {% include "core/tl/field.html" with field=form.corpus %}
            {% include "core/tl/field.html" with field=form.pathos_cost label="Pathos cost" %}
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
        </div>
    </div>
{% endblock contents %}
