{% extends "locations/core/location/detail.html" %}
{% load sanitize_text dots %}
{% block model_specific %}
    <div class="row mb-4">
        {% include "locations/mage/node/display_includes/basics.html" %}
        {% include "characters/core/meritflaw/display_includes/meritflaw_block.html" %}
    </div>
    {% include "characters/mage/resonance/display_includes/resonance.html" %}
{% endblock model_specific %}
{% block reality_zone %}
    {% include "locations/mage/reality_zone/display_includes/reality_zone.html" with object=object.reality_zone %}
{% endblock reality_zone %}
