{% load static %}
{% comment %}
Abilities step for the Mage family (MtA Human, Mage, Companion, Sorcerer): Talents,
Skills and Knowledges as ruled columns in alphabetical order (the Mage primaries include
Art, Awareness, Cosmology...), each with a running count and a PRI / SEC / TER picker,
then the status line (ability_block/status.html). Same markup as
characters/core/chargen/abilities.html.
{% endcomment %}
<p class="tl-lede">Rank Talents, Skills and Knowledges as primary, secondary and tertiary, then add {{ primary }} / {{ secondary }} / {{ tertiary }} dots.</p>
<div class="tl-alloc"{% if priority %} data-priority="{{ priority.rule }}"{% endif %}>
    <section class="tl-alloc__col" data-ability-group data-priority-group="talents" aria-labelledby="abilities-talents">
        {% include "characters/core/chargen/priority_head.html" with title="Talents" heading_id="abilities-talents" status_id="talents-status" column=priority.talents %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.alertness label="Alertness" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.art label="Art" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.athletics label="Athletics" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.awareness label="Awareness" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.brawl label="Brawl" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.empathy label="Empathy" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.expression label="Expression" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.intimidation label="Intimidation" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.leadership label="Leadership" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.streetwise label="Streetwise" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.subterfuge label="Subterfuge" %}
    </section>
    <section class="tl-alloc__col" data-ability-group data-priority-group="skills" aria-labelledby="abilities-skills">
        {% include "characters/core/chargen/priority_head.html" with title="Skills" heading_id="abilities-skills" status_id="skills-status" column=priority.skills %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.crafts label="Crafts" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.drive label="Drive" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.etiquette label="Etiquette" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.firearms label="Firearms" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.larceny label="Larceny" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.meditation label="Meditation" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.melee label="Melee" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.research label="Research" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.stealth label="Stealth" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.survival label="Survival" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.technology label="Technology" %}
    </section>
    <section class="tl-alloc__col" data-ability-group data-priority-group="knowledges" aria-labelledby="abilities-knowledges">
        {% include "characters/core/chargen/priority_head.html" with title="Knowledges" heading_id="abilities-knowledges" status_id="knowledges-status" column=priority.knowledges %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.academics label="Academics" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.computer label="Computer" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.cosmology label="Cosmology" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.enigmas label="Enigmas" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.finance label="Finance" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.investigation label="Investigation" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.law label="Law" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.medicine label="Medicine" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.occult label="Occult" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.politics label="Politics" %}
        {% include "characters/core/chargen/alloc_row.html" with field=form.science label="Science" %}
    </section>
</div>
{% include "characters/core/ability_block/status.html" %}
