{% load tl sanitize_text %}
{% comment %}Freehold core statistics: archetype benefit, Balefire, size, holdings required.{% endcomment %}
<section class="tl-section tl-section--power tl-span-6" id="core">
    <div class="tl-section__head">
        <span class="tl-section__num"></span>
        <h2 class="tl-section__title">Balefire</h2>
    </div>
    <div class="tl-section__body tl-stack tl-stack--lg">
        <div class="tl-stack">
            <span class="tl-subhead">Archetype</span>
            <p>{{ object.get_archetype_display_with_benefit }}</p>
        </div>
        <div class="tl-stack">
            {% trait "Balefire" object.balefire variant="acc" %}
            <p class="tl-note">Generates {{ object.balefire }} Glamour/dross per day</p>
        </div>
        <div class="tl-stack">
            {% trait "Size" object.size variant="acc" %}
            <p class="tl-note">{{ object.get_size_description }}</p>
        </div>
        <div class="tl-kv">
            <span>Holdings required</span>
            <span class="tl-kv__v">{{ holdings_required }} dots ({{ feature_points }} feature points)</span>
        </div>
        {% include "characters/tl/prose_block.html" with label="Balefire appearance" text=object.balefire_description %}
    </div>
</section>
