{% extends "core/misc/form.html" %}
{% block creation_title %}New book{% endblock creation_title %}
{% block form_eyebrow %}{% if object %}Edit · Book{% else %}New · Book{% endif %}{% endblock form_eyebrow %}
{% block contents %}
    {% include "core/tl/field.html" with field=form.name %}
    {% include "core/tl/field.html" with field=form.url label="Link" %}
    <div class="tl-formgrid tl-formgrid--2">
        {% include "core/tl/field.html" with field=form.edition %}
        {% include "core/tl/field.html" with field=form.gameline %}
    </div>
    {% include "core/misc/check.html" with field=form.storytellers_vault label="Published on Storyteller's Vault" %}
{% endblock contents %}
