{% extends "characters/tl/ref2_list.html" %}
{% load tl %}
{% block title %}Revenant Families{% endblock title %}
{% block gameline %}vtm{% endblock gameline %}
{% block ref_eyebrow %}Vampire: the Masquerade{% endblock ref_eyebrow %}
{% block ref_title %}Revenant Families{% endblock ref_title %}
{% block ref_title_class %}{{ "Revenant Families"|cover_title_class:"vtm" }}{% endblock ref_title_class %}
{% block ref_list %}
    <table class="tl-table ref2-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="tl-num">Disciplines</th>
                <th scope="col" class="tl-num">Members</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr data-filterable-item data-name="{{ obj.name|lower }}">
                    <td class="ref2-table__name"><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></td>
                    <td class="tl-num">{{ obj.disciplines.count }}</td>
                    <td class="tl-num">{{ obj.revenants.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock ref_list %}
{% block ref_empty %}
    {% include "core/tl/empty.html" with text="No revenant families found." %}
{% endblock ref_empty %}
