{% extends "core/form.html" %}
{% comment %} Chargen step 0: who the character is. The Storyteller also sees NPC. {% endcomment %}
{% block content_mod %}{% endblock content_mod %}
{% block creation_title %}Create Ghoul{% endblock creation_title %}
{% block formdetails %}method="post" id="ghoulForm" action="" novalidate enctype="multipart/form-data"{% endblock formdetails %}
{% block errors %}{% include "core/misc/form_errors.html" %}{% endblock errors %}
{% block contents %}
    <p class="tl-lede">Create a ghoul character - a mortal empowered by vampire blood.</p>
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.concept %}
        {% include "core/tl/field.html" with field=form.chronicle %}
        {% include "core/tl/field.html" with field=form.nature %}
        {% include "core/tl/field.html" with field=form.demeanor %}
        {% include "core/tl/field.html" with field=form.domitor %}
        {% include "core/misc/check.html" with field=form.is_independent label="Independent" %}
    </div>
    <div class="tl-formgrid">
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.image label="Character portrait" %}</div>
        {% if storyteller %}
            {% include "core/misc/check.html" with field=form.npc label="NPC" %}
        {% endif %}
    </div>
{% endblock contents %}
