{% load sanitize_text %}
<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-light py-2">
                <h5 class="mb-0 mta_heading">History</h5>
            </div>
            <div class="card-body py-3">
                <div class="row mb-3">
                    <div class="col-sm-3 text-muted font-weight-bold">Founded</div>
                    <div class="col-sm-9">
                        {{ year }}
                        {% if date_written > 0 %}
                            AD
                        {% else %}
                            BC
                        {% endif %}
                    </div>
                </div>
                {% if object.ended < 5000 %}
                    <div class="row mb-3">
                        <div class="col-sm-3 text-muted font-weight-bold">Ended</div>
                        <div class="col-sm-9">
                            {{ year }}
                            {% if object.ended > 0 %}
                                AD
                            {% else %}
                                BC
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if object.parent %}
                    <div class="row mb-3">
                        <div class="col-sm-3 text-muted font-weight-bold">Parent Faction</div>
                        <div class="col-sm-9">
                            <a href="{{ object.parent.get_absolute_url }}" class="badge badge-pill badge-mta">{{ object.parent }}</a>
                        </div>
                    </div>
                {% endif %}
                {% if object.magefaction_set.all %}
                    <div class="row">
                        <div class="col-sm-3 text-muted font-weight-bold">Subfactions</div>
                        <div class="col-sm-9">
                            {% for subfaction in object.magefaction_set.all %}
                                <a href="{{ subfaction.get_absolute_url }}" class="badge badge-pill badge-mta-faded mr-2 mb-2">{{ subfaction.name|sanitize_html }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
