{% extends "characters/werewolf/tl/form.html" %}
{% block title %}Create Fera{% endblock title %}
{% block creation_title %}Create Fera{% endblock creation_title %}
{% block formdetails %}method="post" id="feraForm" action="" enctype="multipart/form-data"{% endblock formdetails %}
{% block contents %}
    <p class="tl-lede">
        Fera are the Changing Breeds: shapeshifters who serve Gaia alongside (or sometimes
        against) the Garou. Each has its own culture, abilities and role in the world.
    </p>
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.fera_type help=form.fera_type.help_text %}
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.concept %}
        {% include "core/tl/field.html" with field=form.chronicle %}
    </div>
    {% include "characters/werewolf/tl/basics_portrait.html" %}
{% endblock contents %}
