{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Tremere Chantry{% endblock creation_title %}
{% block form_line %}vtm{% endblock form_line %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Chantry</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.size label="Size (1–5)" %}
                {% include "locations/tl/field.html" with field=form.security_level label="Security level (1–5)" %}
                {% include "locations/tl/field.html" with field=form.library_rating label="Library rating (0–5)" %}
                {% include "locations/tl/field.html" with field=form.ritual_rooms label="Ritual rooms" %}
                {% include "locations/tl/field.html" with field=form.blood_vault_capacity label="Blood vault capacity" %}
                {% include "locations/tl/field.html" with field=form.pyramid_level label="Pyramid level (1–5)" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Residents</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.regent_name label="Regent name" %}
                {% include "locations/tl/field.html" with field=form.resident_count label="Resident count" %}
                {% include "locations/tl/field.html" with field=form.apprentice_count label="Apprentice count" %}
                {% include "locations/tl/field.html" with field=form.reports_to label="Reports to" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Features</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.has_wards label="Has wards" %}
                {% include "locations/tl/field.html" with field=form.has_sanctum label="Has sanctum" %}
                {% include "locations/tl/field.html" with field=form.has_blood_forge label="Has blood forge" %}
                {% include "locations/tl/field.html" with field=form.has_scrying_chamber label="Has scrying chamber" %}
                {% include "locations/tl/field.html" with field=form.has_gargoyle_guardians label="Has gargoyle guardians" %}
            </div>
        </section>
        {% include "locations/tl/field.html" with field=form.description %}
    </div>
{% endblock contents %}
