{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:vampire:create:chantry' %}">Create New Chantry</a>
{% endblock create %}
{% block list_head %}
    <th>Location</th>
    <th>Regent</th>
    <th>Size</th>
    <th>Security</th>
    <th>Pyramid level</th>
    <th>Total rating</th>
{% endblock list_head %}
{% block list_cells %}
    <td>{% include "locations/tl/containers_cell.html" %}</td>
    <td>{{ obj.regent_name|default:'—' }}</td>
    <td>{% dots obj.size %}</td>
    <td>{% dots obj.security_level %}</td>
    <td>{% dots obj.pyramid_level %}</td>
    <td>{% dots obj.total_rating 10 %}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No chantries found." %}
{% endblock empty %}
