{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Sector class" object.get_sector_class_display %}
    <div class="tl-facts__row">
        <span class="tl-facts__k">Access</span>
        <span class="tl-facts__v">
            {{ object.get_access_level_display }}{% if object.requires_password %} · password required{% endif %}
        </span>
    </div>
    {% fact "Administrator" object.administrator %}
{% endblock type_facts %}
{% block model_specific %}
    {% include "locations/mage/sector/display_includes/basics.html" %}
{% endblock model_specific %}
{% block reality_zone %}
    {% include "locations/mage/reality_zone/display_includes/reality_zone.html" with zone=object.reality_zone span="tl-span-6" %}
{% endblock reality_zone %}
