{% if characters %}
    <section class="tl-block tl-block--tight" id="characters-section">
        <div class="tl-grouphead">
            <h2 class="tl-grouphead__name">Characters</h2>
            <span class="tl-grouphead__rule"></span>
            <span class="tl-grouphead__count">{{ characters|length }}</span>
        </div>
        <div class="tl-grid">
            {% for char in characters %}
                {% include "accounts/includes/owned_tile.html" with obj=char %}
            {% endfor %}
        </div>
    </section>
{% endif %}
