{% if locations %}
    <section class="tl-block tl-block--tight" id="locations-section">
        <div class="tl-grouphead">
            <h2 class="tl-grouphead__name">Locations</h2>
            <span class="tl-grouphead__rule"></span>
            <span class="tl-grouphead__count">{{ locations|length }}</span>
        </div>
        <div class="tl-grid">
            {% for loc in locations %}
                {% include "accounts/includes/owned_tile.html" with obj=loc %}
            {% endfor %}
        </div>
    </section>
{% endif %}
