<div class="row">
    <h2 class="col-sm {{ user.profile.preferred_heading }}">Story XP</h2>
</div>
<form method="post" action="">
    {% csrf_token %}
    <div class="row">
        {% for story_xp_form in story_xp_forms %}
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h3>
                            <a class="col-sm {{ user.profile.preferred_heading }}"
                               href="{{ story_xp_form.scene.get_absolute_url }}">{{ story_xp_form.story.name }}</a>
                        </h3>
                        <div class="row">
                            <div class="col-sm">Character</div>
                            <div class="col-sm">Success</div>
                            <div class="col-sm">Danger</div>
                            <div class="col-sm">Growth</div>
                            <div class="col-sm">Drama</div>
                            <div class="col-sm">Duration</div>
                        </div>
                        {% for char, fields in story_xp_form.rows %}
                            <div class="row">
                                <a class="col-sm" href="{{ char.get_absolute_url }}">{{ char.name }}</a>
                                {% for bound_field in fields %}<div class="col-sm">{{ bound_field }}</div>{% endfor %}
                            </div>
                        {% endfor %}
                        <div class="text-center mt-3">
                            <button type="submit"
                                    name="submit_story"
                                    value="{{ story_xp_form.story.pk }}">Submit {{ story_xp_form.story.name }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</form>
