{% extends "locations/changeling/freehold/chargen/base.html" %}
{% block step_title %}Basics{% endblock step_title %}
{% block step_num %}01{% endblock step_num %}
{% block step_label %}Basics{% endblock step_label %}
{% block contents %}
    <div class="tl-locform">
        <p class="tl-lede">Name the freehold, choose its Archetype and describe its Aspect.</p>
        {% include "locations/tl/fields.html" with fields_form=form %}
        {% include "locations/changeling/freehold/tl/guide.html" with archetypes=True about=True %}
    </div>
{% endblock contents %}
