{% extends "locations/changeling/freehold/chargen/base.html" %}
{% block step_title %}Details{% endblock step_title %}
{% block step_num %}04{% endblock step_num %}
{% block step_label %}Details{% endblock step_label %}
{% block submit_label %}Complete freehold{% endblock submit_label %}
{% block contents %}
    <div class="tl-locform">
        <p class="tl-lede">Descriptions, quirks and finishing touches.</p>
        {% include "locations/tl/fields.html" with fields_form=form %}
        <section class="tl-locgroup tl-locgroup--power">
            <h2 class="tl-subhead">Summary</h2>
            <div class="tl-stats">
                {% include "locations/tl/stat.html" with label="Archetype" value=object.get_archetype_display text=True %}
                {% include "locations/tl/stat.html" with label="Feature points" value=feature_points %}
                {% include "locations/tl/stat.html" with label="Holdings required" value=holdings_required %}
            </div>
            <p class="tl-lede"><b>Aspect:</b> {{ object.aspect|default:"Not specified" }}</p>
            <p class="tl-note">
                After creation a Storyteller approves the freehold. You will need {{ holdings_required }} dots of the Holdings Background to represent your connection to it.
            </p>
        </section>
        {% include "locations/changeling/freehold/tl/guide.html" with quirks=True %}
    </div>
{% endblock contents %}
