{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Region" object.get_region_display %}
    {% fact "Deathlord" object.deathlord|default:"None" %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-section--power tl-span-5" id="necropolis">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Necropolis</h2>
        </div>
        <div class="tl-section__body tl-stats">
            {% include "locations/tl/stat.html" with label="Population" value=object.population %}
        </div>
    </section>
{% endblock model_specific %}
