{% extends "locations/core/location/detail.html" %}
{% load tl sanitize_text %}
{% block type_facts %}
    {% fact "Legal owner" object.legal_owner %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-span-6" id="safehouse">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Safehouse</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div class="tl-stack">
                {% trait "Size" object.size %}
                {% trait "Security" object.security_level %}
                {% trait "Armory" object.armory_level %}
                {% trait "Surveillance" object.surveillance_level %}
                {% trait "Medical" object.medical_facilities %}
            </div>
            <div class="tl-stack">
                {% include "locations/tl/kv.html" with label="Capacity" value=object.capacity %}
                {% include "locations/tl/kv.html" with label="Total rating" value=object.total_rating %}
                <div class="tl-kv">
                    <span>Compromised</span>
                    <span class="tl-kv__v{% if object.is_compromised %} is-neg{% endif %}">{{ object.is_compromised|yesno:"Yes,No" }}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="tl-section tl-span-6" id="features">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Features</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% include "locations/tl/kv.html" with label="Mobile" value=object.is_mobile|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Panic room" value=object.has_panic_room|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Escape routes" value=object.has_escape_routes|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Dead drop" value=object.has_dead_drop|yesno:"Yes,No" %}
            {% include "locations/tl/kv.html" with label="Secure communications" value=object.has_communications|yesno:"Yes,No" %}
        </div>
    </section>
    {% if object.cover_story %}
        <section class="tl-section" id="cover-story">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Cover story</h2>
            </div>
            <div class="tl-section__body tl-prose">{{ object.cover_story|sanitize_html|linebreaks }}</div>
        </section>
    {% endif %}
{% endblock model_specific %}
