{% extends "locations/core/tl_form.html" %}
{% block creation_title %}Create Safehouse{% endblock creation_title %}
{% block form_line %}htr{% endblock form_line %}
{% block contents %}
    <div class="tl-locform">
        <div class="tl-formgrid tl-formgrid--2">
            {% include "locations/tl/field.html" with field=form.name %}
            {% include "locations/tl/field.html" with field=form.contained_within %}
        </div>
        {% include "locations/tl/field.html" with field=form.description %}
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Size and capacity</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.size %}
                {% include "locations/tl/field.html" with field=form.capacity %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Resources</h2>
            <div class="tl-formgrid tl-formgrid--2">
                {% include "locations/tl/field.html" with field=form.security_level label="Security level" %}
                {% include "locations/tl/field.html" with field=form.armory_level label="Armory level" %}
                {% include "locations/tl/field.html" with field=form.surveillance_level label="Surveillance level" %}
                {% include "locations/tl/field.html" with field=form.medical_facilities label="Medical facilities" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Status and features</h2>
            <div class="tl-formgrid">
                {% include "locations/tl/field.html" with field=form.is_compromised label="Compromised" %}
                {% include "locations/tl/field.html" with field=form.is_mobile label="Mobile" %}
                {% include "locations/tl/field.html" with field=form.has_panic_room label="Has panic room" %}
                {% include "locations/tl/field.html" with field=form.has_escape_routes label="Has escape routes" %}
                {% include "locations/tl/field.html" with field=form.has_dead_drop label="Has dead drop" %}
                {% include "locations/tl/field.html" with field=form.has_communications label="Has communications" %}
            </div>
        </section>
        <section class="tl-locgroup">
            <h2 class="tl-subhead">Cover</h2>
            <div class="tl-formgrid tl-formgrid--2">
                {% include "locations/tl/field.html" with field=form.legal_owner label="Legal owner" %}
                {% include "locations/tl/field.html" with field=form.cover_story label="Cover story" %}
            </div>
        </section>
    </div>
{% endblock contents %}
