{% extends "locations/core/tl_list.html" %}
{% load tl %}
{% block create %}
    <a class="tl-btn tl-btn--block" href="{% url 'locations:hunter:create:safehouse' %}">Create Safehouse</a>
{% endblock create %}
{% block list_head %}
    <th class="tl-num">Rating</th>
{% endblock list_head %}
{% block list_cells %}
    <td class="tl-num">{{ obj.total_rating }}</td>
{% endblock list_cells %}
{% block empty %}
    {% include "core/tl/empty.html" with text="No safehouses found." %}
{% endblock empty %}
