{% extends "characters/tl/reference_detail.html" %}
{% load tl %}
{% block back %}<a href="{% url 'characters:mage:list:tenet' %}">← Tenets</a>{% endblock back %}
{% block facts %}
    {% fact "Type" object.get_tenet_type_display %}
{% endblock facts %}
{% block after_description %}
    {% with associated=object.associated_practices.all limited=object.limited_practices.all %}
        {% include "characters/mage/practice/tl_practice_columns.html" %}
    {% endwith %}
{% endblock after_description %}
