{% extends "core/form.html" %}
{% block creation_title %}New tenet{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.tenet_type %}
        {% include "core/tl/field.html" with field=form.description %}
        {% include "core/tl/field.html" with field=form.associated_practices %}
        {% include "core/tl/field.html" with field=form.limited_practices %}
    </div>
{% endblock contents %}
