{% extends "characters/demon/dtfhuman/detail.html" %}
{% comment %}
Earthbound sheet: the Demon sheet's pieces (Lores, Faith / Torment / Willpower, Virtues,
apocalyptic form, rituals) plus Urges, the Reliquary and the Cult.
{% endcomment %}
{% load tl %}
{% block basics %}
    {% fact "House" object.house %}
    {% fact "Visage" object.visage %}
    {% fact "Celestial name" object.celestial_name %}
    {% fact "Reliquary" object.get_reliquary_type_display %}
    {% fact "Nature" object.nature %}
    {% fact "Demeanor" object.demeanor %}
{% endblock basics %}
{% block powers %}
    {% include "characters/demon/display_includes/lore_block.html" with span="tl-span-7" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/demon/display_includes/advantages.html" with span="tl-span-5" %}
{% endblock advantages %}
{% block line %}
    {% include "characters/demon/display_includes/virtues.html" with span="tl-span-6" %}
    <section class="tl-section tl-span-6" id="urges">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Urges</h2>
        </div>
        <div class="tl-section__body tl-stack">
            {% trait "Flesh" object.urge_flesh variant="acc" %}
            {% trait "Thought" object.urge_thought variant="acc" %}
            {% trait "Emotion" object.urge_emotion variant="acc" %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="reliquary">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Reliquary</h2>
        </div>
        <div class="tl-section__body tl-stack tl-stack--lg">
            <div class="tl-stack">
                <div class="tl-kv"><span>Type</span><span>{{ object.get_reliquary_type_display }}</span></div>
                <div class="tl-kv"><span>Health</span><span class="tl-kv__v">{{ object.reliquary_current_health }}/{{ object.reliquary_max_health }}</span></div>
                <div class="tl-kv"><span>Soak</span><span class="tl-kv__v">{{ object.reliquary_soak }}</span></div>
                {% if object.reliquary_type == "location" %}
                    <div class="tl-kv"><span>Range</span><span class="tl-kv__v">{{ object.manifestation_range }} yards</span></div>
                {% endif %}
            </div>
            {% include "characters/tl/prose_block.html" with label="Description" text=object.reliquary_description %}
            {% include "characters/tl/prose_block.html" with label="Materials" text=object.reliquary_materials %}
        </div>
    </section>
    {% include "characters/demon/display_includes/apocalyptic_form.html" %}
    {% if object.cult_size or object.worship_ritual_frequency %}
        <section class="tl-section" id="cult">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Cult</h2>
            </div>
            <div class="tl-section__body tl-stack tl-stack--lg">
                {% include "characters/tl/prose_block.html" with label="Size" text=object.cult_size %}
                {% include "characters/tl/prose_block.html" with label="Worship frequency" text=object.worship_ritual_frequency %}
            </div>
        </section>
    {% endif %}
    {% include "characters/demon/display_includes/rituals.html" %}
{% endblock line %}
{% block history %}
    {% include "characters/demon/display_includes/history.html" %}
{% endblock history %}
