{% extends "characters/tl/ref2_chars.html" %}
{% block title %}Earthbound{% endblock title %}
{% block gameline %}dtf{% endblock gameline %}
{% block chars_eyebrow %}Demon: the Fallen{% endblock chars_eyebrow %}
{% block chars_title %}Earthbound{% endblock chars_title %}
{% block chars_list %}
    {% for obj in earthbounds %}
        {% include "characters/tl/ref2_char_tile.html" with char=obj detail=obj.house detail2=obj.faction %}
    {% endfor %}
{% endblock chars_list %}
{% block chars_empty %}
    {% include "core/tl/empty.html" with text="No earthbound found." %}
{% endblock chars_empty %}
