{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% if object.realm_type %}{% fact "Realm type" object.get_realm_type_display %}{% endif %}
{% endblock type_facts %}
{% block model_specific %}
    {% if object.stability or object.accessibility %}
        <section class="tl-section tl-span-6" id="realm">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Dream realm</h2>
            </div>
            <div class="tl-section__body tl-stack">
                {% if object.stability %}{% trait "Stability" object.stability variant="acc" %}{% endif %}
                {% if object.accessibility %}{% trait "Accessibility" object.accessibility variant="acc" %}{% endif %}
            </div>
        </section>
    {% endif %}
{% endblock model_specific %}
