{% extends "items/tl/form.html" %}
{% block creation_title %}Create Bloodstone{% endblock creation_title %}
{% block contents %}
    <div class="tl-itemform">
        <div class="tl-formgrid">
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
            {% include "core/tl/field.html" with field=form.stone_type label="Stone type" %}
            {% include "core/tl/field.html" with field=form.created_by_generation label="Creator generation" %}
            {% include "core/misc/check.html" with field=form.is_active label="Active" %}
            {% include "core/tl/field.html" with field=form.blood_stored label="Blood stored" %}
            {% include "core/tl/field.html" with field=form.max_blood label="Maximum blood" %}
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
        </div>
    </div>
{% endblock contents %}
