{% load tl %}
{% with tech=object.is_technocrat %}
    {% fact "Nature" object.nature %}
    {% fact "Demeanor" object.demeanor %}
    {% fact "Affiliation" object.affiliation %}
    {% if tech %}{% fact "Convention" object.faction %}{% else %}{% fact "Faction" object.faction %}{% endif %}
    {% if tech %}{% fact "Methodology" object.subfaction %}{% else %}{% fact "Subfaction" object.subfaction %}{% endif %}
    {% if tech %}{% fact "Eidolon" object.get_essence_display %}{% else %}{% fact "Essence" object.get_essence_display %}{% endif %}
    {% fact "Group" object.group_set.first %}
{% endwith %}
