{% extends "characters/mage/mtahuman/detail.html" %}
{% block basics %}
    {% include "characters/mage/mage/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/mage/mage/mage_powers_block_display.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/mage/mage/mage_advantage_display.html" %}
{% endblock advantages %}
{% block backgrounds %}{% endblock backgrounds %}
{% block line %}
    {% include "characters/mage/mage/mage_focus_block_display.html" %}
    {% include "characters/tl/resonance.html" %}
    {% include "characters/tl/rotes.html" with rote_list=object.rotes %}
{% endblock line %}
{% block appearance %}
    {% include "characters/mage/mage/mage_appearance_block_display.html" %}
{% endblock appearance %}
{% block history %}
    {% include "characters/mage/mage/mage_history_block_display.html" %}
{% endblock history %}
{% block freebies %}
    {% if object.status == "Sub" %}
        {% include "characters/mage/mage/freebies_form.html" %}
    {% endif %}
{% endblock freebies %}
{% block xp %}
    {% include "characters/tl/specialties_form.html" %}
    {% include "characters/mage/mage/mage_xp_form.html" %}
{% endblock xp %}
