{% comment %}
Familiar background step (FamiliarForm): the familiar is made as a Companion of type
Familiar in this character's chronicle, then built through its own creation steps.
{% endcomment %}
<p class="tl-lede">Decide the familiar's identity and motivation; choose its concept and Archetypes.</p>
<div class="tl-factrow">
    <div>
        <span class="tl-subhead">Companion type</span>
        <span>Familiar</span>
    </div>
    <div>
        <span class="tl-subhead">Chronicle</span>
        <span>{{ object.chronicle|default:"None" }}</span>
    </div>
</div>
<div class="tl-chargen__form" id="mageForm">
    {% include "characters/mage/form/field.html" with field=form.name %}
    {% include "characters/mage/form/field.html" with field=form.concept %}
    {% include "characters/mage/form/field.html" with field=form.nature %}
    {% include "characters/mage/form/field.html" with field=form.demeanor %}
    {% include "characters/mage/form/field.html" with field=form.image label="Portrait" %}
</div>
