{% load formset_tags %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }}">Focus</h2>
</div>
<div class="row">
    <div class="col-sm">
        Choose a Metaphysical, a Personal, and an Ascension Tenet. Other Tenets are optional. Then choose Practices with total equal to your Arete. Note: a Practice must be at least the Sphere rating of an effect to be used, and all effects must have a Practice.
    </div>
</div>
<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Tenets</h3>
</div>
<div class="row">
    <div class="col-sm">Metaphysical</div>
    <div class="col-sm">{{ form.metaphysical_tenet }}</div>
</div>
<div class="row">
    <div class="col-sm">Personal</div>
    <div class="col-sm">{{ form.personal_tenet }}</div>
</div>
<div class="row">
    <div class="col-sm">Ascension</div>
    <div class="col-sm">{{ form.ascension_tenet }}</div>
</div>
<div class="row">
    <div class="col-sm">Other Tenets</div>
    <div class="col-sm">{{ form.other_tenets }}</div>
</div>
<div class="row">
    <h3 class="col-sm {{ object.get_heading }}">Practices</h3>
</div>
<!-- Container for the dynamic formset -->
<div id="practicerating_set_formset" {% formset_container "practicerating_set" empty_form_id="empty_practicerating_set_form" %}>
    <!-- This is the management form for the formset -->
    {{ practice_formset.management_form }}
    {% for f in practice_formset %}
        <div class="row form-row" {% formset_form_wrapper %}>
            <div class="col-sm">{{ f.practice }}</div>
            <div class="col-sm">{{ f.rating }}</div>
        </div>
    {% endfor %}
</div>
<!-- Hidden template for new forms -->
<div id="empty_practicerating_set_form" class="d-none">
    <div class="row form-row" {% formset_form_wrapper %}>
        <div class="col-sm">{{ practice_formset.empty_form.practice }}</div>
        <div class="col-sm">{{ practice_formset.empty_form.rating }}</div>
    </div>
</div>
{% formset_add_btn "practicerating_set" "Add Practice" %}
{% formset_script %}
