{% extends "characters/mage/form/base.html" %}
{% comment %}
First step of Mage creation: identity, Archetypes and allegiance. Faction and subfaction
are chained selects (their script comes with the widget media). NPC is offered to
Storytellers only.
{% endcomment %}
{% block creation_title %}Create Mage{% endblock creation_title %}
{% block formdetails %}method="post" id="mageForm" action="" novalidate enctype="multipart/form-data"{% endblock formdetails %}
{% block contents %}
    <p class="tl-lede">Decide identity and motivation; choose concept, Affiliation, Essence, and Archetypes.</p>
    <div class="tl-formgrid">
        {% include "characters/mage/form/field.html" with field=form.name %}
        {% include "characters/mage/form/field.html" with field=form.concept %}
        {% include "characters/mage/form/field.html" with field=form.chronicle %}
        {% include "characters/mage/form/field.html" with field=form.nature %}
        {% include "characters/mage/form/field.html" with field=form.demeanor %}
        {% include "characters/mage/form/field.html" with field=form.essence %}
        {% include "characters/mage/form/field.html" with field=form.affiliation %}
        {% include "characters/mage/form/field.html" with field=form.faction %}
        {% include "characters/mage/form/field.html" with field=form.subfaction %}
        {% include "characters/mage/form/field.html" with field=form.image label="Character portrait" %}
        {% if storyteller %}
            {% include "characters/mage/form/field.html" with field=form.npc label="NPC" %}
        {% endif %}
    </div>
{% endblock contents %}
