{% load static %}
<div class="row">
    <h2 class="col-sm {{ object.get_heading }} pointer"
        data-toggle="collapse"
        data-target="#xpSection"
        aria-expanded="true"
        aria-controls="xpSection">Experience</h2>
</div>
<div id="xpSection" class="collapse show multi-collapse">
    <div class="row">
        <div class="col-sm">XP Remaining</div>
        <div class="col-sm">{{ object.xp }}</div>
    </div>
    <div class="row">
        <div class="col-sm">Spend Freebie points. The costs are as follows:</div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">
            <b>Trait</b>
        </div>
        <div class="col-sm-3 border">
            <b>Cost</b>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Attribute</div>
        <div class="col-sm-3 border">4 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">New Ability</div>
        <div class="col-sm-3 border">3</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Ability</div>
        <div class="col-sm-3 border">2 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Background (new)</div>
        <div class="col-sm-3 border">5</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Background (existing)</div>
        <div class="col-sm-3 border">3 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Willpower</div>
        <div class="col-sm-3 border">Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Merits</div>
        <div class="col-sm-3 border">3 x (New Rating - Current Rating)</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">New Sphere</div>
        <div class="col-sm-3 border">10</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Affinity Sphere</div>
        <div class="col-sm-3 border">7 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Sphere</div>
        <div class="col-sm-3 border">8 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Three Rote Points</div>
        <div class="col-sm-3 border">1</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">New Resonance</div>
        <div class="col-sm-3 border">5</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Resonance</div>
        <div class="col-sm-3 border">3 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Tenet</div>
        <div class="col-sm-3 border">0</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Remove Tenet</div>
        <div class="col-sm-3 border">Number of Tenets</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">New Practice</div>
        <div class="col-sm-3 border">3</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Practice</div>
        <div class="col-sm-3 border">Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row centertext">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 border">Arete</div>
        <div class="col-sm-3 border">8 x Current Rating</div>
        <div class="col-sm-3"></div>
    </div>
    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for request in object.get_xp_spending_history %}
            <div class="row">
                <div class="col-sm">
                    {{ request.trait_name }}
                    {% if request.trait_value %}({{ request.trait_value }}){% endif %}
                </div>
                <div class="col-sm">{{ request.cost }} XP</div>
                <div class="col-sm">{{ request.approved }}</div>
                {% if user.profile.is_st %}
                    {% if request.approved != "Approved" %}
                        <div class="col-sm">
                            <input type="submit" name="xp_request_{{ request.id }}_approve" value="Approve" />
                            <input type="submit" name="xp_request_{{ request.id }}_reject" value="Reject" />
                        </div>
                    {% else %}
                        <div class="col-sm"></div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm">{{ form.category }}</div>
            <div class="col-sm d-none" id="example_wrap">{{ form.example }}</div>
            <div class="col-sm d-none" id="resonance_wrap">{{ form.resonance }}</div>
            <div class="col-sm d-none" id="value_wrap">{{ form.value }}</div>
            <div class="col-sm d-none" id="note_wrap">{{ form.note }}</div>
            <div class="col-sm d-none" id="pooled_wrap">Pooled? {{ form.pooled }}</div>
            <div class="col-sm d-none" id="image_field_wrap">{{ form.image_field }}</div>
        </div>
        <div class="d-none" id="rote_wrap">
            <div class="row">
                <div class="col-sm">Create New Rote: {{ rote_form.select_or_create_rote }}</div>
            </div>
            <div id="rote selection">
                <div class="row">
                    <div class="col-sm">{{ rote_form.rote_options }}</div>
                </div>
            </div>
            <div id="rote creation" class="d-none">
                <div class="row">
                    <div class="col-sm">Name</div>
                    <div class="col-sm">{{ rote_form.name }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">Practice</div>
                    <div class="col-sm">{{ rote_form.practice }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">Dicepool</div>
                    <div class="col-sm">{{ rote_form.attribute }} + {{ rote_form.ability }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">Description</div>
                    <div class="col-sm">{{ rote_form.description }}</div>
                </div>
                <div class="row">
                    <div class="col-sm">Create New Effect: {{ rote_form.select_or_create_effect }}</div>
                </div>
                <div id="effect selection">
                    <div class="row">
                        <div class="col-sm">{{ rote_form.effect_options }}</div>
                    </div>
                </div>
                <div id="effect creation" class="d-none">
                    <div class="row">
                        <div class="col-sm-2">Correspondence</div>
                        <div class="col-sm-2 dots">{{ rote_form.correspondence }}</div>
                        <div class="col-sm-2">Life</div>
                        <div class="col-sm-2 dots">{{ rote_form.life }}</div>
                        <div class="col-sm-2">Prime</div>
                        <div class="col-sm-2 dots">{{ rote_form.prime }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Entropy</div>
                        <div class="col-sm-2 dots">{{ rote_form.entropy }}</div>
                        <div class="col-sm-2">Matter</div>
                        <div class="col-sm-2 dots">{{ rote_form.matter }}</div>
                        <div class="col-sm-2">Spirit</div>
                        <div class="col-sm-2 dots">{{ rote_form.spirit }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">Forces</div>
                        <div class="col-sm-2 dots">{{ rote_form.forces }}</div>
                        <div class="col-sm-2">Mind</div>
                        <div class="col-sm-2 dots">{{ rote_form.mind }}</div>
                        <div class="col-sm-2">Time</div>
                        <div class="col-sm-2 dots">{{ rote_form.time }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm">Systems</div>
                        <div class="col-sm">{{ rote_form.systems }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="submit" name="spend_xp" value="Spend XP/Rote Points" />
            </div>
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}<p class="alert centertext">{{ error }}</p>{% endfor %}
        {% endif %}
    </form>
</div>
<script src="{% static 'characters/js/mage-xp.js' %}" id="mage-xp-script" data-is-group-member="{{ object.is_group_member|yesno:'true,false' }}"></script>
<script src="{% static 'characters/js/mage-xp-rote.js' %}"></script>
