{% extends "characters/tl/ref2_chars.html" %}
{% block title %}Humans (Mummy){% endblock title %}
{% block gameline %}mtr{% endblock gameline %}
{% block chars_eyebrow %}Mummy: the Resurrection{% endblock chars_eyebrow %}
{% block chars_title %}Humans{% endblock chars_title %}
{% block chars_list %}
    {% for obj in object_list %}
        {% include "characters/tl/ref2_char_tile.html" with char=obj %}
    {% endfor %}
{% endblock chars_list %}
{% block chars_empty %}
    {% include "core/tl/empty.html" with text="No humans found." %}
{% endblock chars_empty %}
