{% extends "core/misc/form.html" %}
{% block creation_title %}New news item{% endblock creation_title %}
{% block form_eyebrow %}{% if object %}Edit · News item{% else %}New · News item{% endif %}{% endblock form_eyebrow %}
{% block contents %}
    <div class="tl-formgrid tl-formgrid--2">
        {% include "core/tl/field.html" with field=form.title %}
        {% include "core/tl/field.html" with field=form.date %}
    </div>
    {% include "core/tl/field.html" with field=form.content %}
{% endblock contents %}
