{% extends "core/tl_base.html" %}
{% comment %}Site news: ink cover, entries newest first in the home page's Updates style.{% endcomment %}
{% block title %}News Items{% endblock title %}
{% block cover_label %}News{% endblock cover_label %}
{% block cover_title %}
    <span class="tl-cover__eyebrow">Updates</span>
    <h1 class="tl-cover__name" data-fit-title>News</h1>
{% endblock cover_title %}
{% block cover_actions %}
    {% if user.is_staff or user.is_superuser %}
        <a class="tl-btn tl-btn--block" href="{% url 'core:create_newsitem' %}">+ New news item</a>
    {% endif %}
{% endblock cover_actions %}
{% block content_mod %}tl-content--narrow{% endblock content_mod %}
{% block content %}
    {% if object_list %}
        <div class="tl-block">
            {% for obj in object_list %}
                <article class="tl-news">
                    <span class="tl-news__date">{{ obj.date|date:"d M Y" }}</span>
                    <h2 class="tl-news__title">
                        <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                    </h2>
                    {% if obj.content %}<p class="tl-news__body">{{ obj.content|truncatewords:40 }}</p>{% endif %}
                </article>
            {% endfor %}
        </div>
    {% else %}
        {% include "core/tl/empty.html" with text="No news items found." %}
    {% endif %}
{% endblock content %}
