{% extends "locations/core/location/detail.html" %}
{% load tl %}
{% block type_facts %}
    {% fact "Purpose" object.get_purpose_display %}
    {% fact "Commander" object.commander %}
    {% fact "Controlling faction" object.controlling_faction %}
{% endblock type_facts %}
{% block model_specific %}
    <section class="tl-section tl-section--power tl-span-6" id="citadel">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Citadel</h2>
        </div>
        <div class="tl-section__body tl-stats">
            {% include "locations/tl/stat.html" with label="Defense rating" value=object.defense_rating %}
            {% include "locations/tl/stat.html" with label="Garrison size" value=object.garrison_size %}
        </div>
    </section>
    <section class="tl-section tl-span-6" id="features">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Special features</h2>
        </div>
        <ul class="tl-section__body tl-plainlist tl-stack">
            {% if object.has_soulforges %}<li>Contains soulforging facilities</li>{% endif %}
            {% if object.has_prison %}<li>Contains prison/oubliette</li>{% endif %}
            {% if object.has_gateway %}<li>Contains gateway to other realms</li>{% endif %}
            {% if not object.has_soulforges and not object.has_prison and not object.has_gateway %}
                <li class="tl-muted">No special features</li>
            {% endif %}
        </ul>
    </section>
{% endblock model_specific %}
