{% extends "items/tl/form.html" %}
{% block creation_title %}Create Medium{% endblock creation_title %}
{% block contents %}
    <div class="tl-itemform">
        <div class="tl-formgrid">
            <div class="tl-field--full">{% include "core/tl/field.html" with field=form.name %}</div>
            {% include "core/tl/field.html" with field=form.length_modifier_type label="Length modifier type" %}
            {% include "core/tl/field.html" with field=form.length_modifier label="Length modifier" %}
        </div>
    </div>
{% endblock contents %}
