{% extends "characters/vampire/vtmhuman/detail.html" %}
{% comment %}
Revenant sheet: the Vampire sheet's pieces a revenant has. Disciplines beside Willpower
and Blood pool, then Backgrounds, Health and Merits in three columns. Actual age sits in
Appearance beside the apparent age.
{% endcomment %}
{% block basics %}
    {% include "characters/vampire/revenant/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/shared/vampire/powers_block_display.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/shared/vampire/ghoul_advantage_display.html" %}
{% endblock advantages %}
{% block backgrounds %}
    {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds span="tl-span-4" %}
{% endblock backgrounds %}
{% block health %}
    {% include "characters/core/human/health_block_display.html" with span="tl-span-4" %}
{% endblock health %}
{% block mfs %}
    {% include "characters/tl/merits.html" with span="tl-span-4" %}
{% endblock mfs %}
{% block appearance %}
    {% include "characters/tl/appearance.html" with extra_label="Actual age" extra_value=object.actual_age %}
{% endblock appearance %}
