{% extends "items/core/item/detail.html" %}
{% block status_row %}
    <section class="tl-section tl-section--power tl-span-6" id="ba">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Ba</h2>
        </div>
        <div class="tl-section__body tl-stats">
            <div class="tl-stat">
                <span class="tl-subhead">Stored</span>
                <span class="tl-stat__value">{{ object.current_ba }} / {{ object.max_ba }}</span>
            </div>
            <div class="tl-stat">
                <span class="tl-subhead">Transfer rate</span>
                <span class="tl-stat__value">{{ object.transfer_rate }}</span>
                <span class="tl-stat__note">Ba per turn</span>
            </div>
            <div class="tl-stat">
                <span class="tl-subhead">Efficiency</span>
                <span class="tl-stat__value">{{ object.efficiency }}%</span>
            </div>
        </div>
    </section>
{% endblock status_row %}
{% block additional_stats %}
    <section class="tl-section tl-span-6" id="properties">
        <div class="tl-section__head">
            <span class="tl-section__num"></span>
            <h2 class="tl-section__title">Properties</h2>
        </div>
        <div class="tl-section__body tl-stack">
            <div class="tl-kv"><span>Type</span><span class="tl-kv__v">{{ object.get_vessel_type_display }}</span></div>
            {% if object.material %}
                <div class="tl-kv"><span>Material</span><span class="tl-kv__v">{{ object.material }}</span></div>
            {% endif %}
            <div class="tl-kv">
                <span>Portable</span>
                <span class="tl-kv__v">
                    {% if object.is_portable %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </span>
            </div>
            {% if object.requires_ritual %}
                <div class="tl-kv"><span>Requires ritual</span><span class="tl-kv__v">Yes</span></div>
            {% endif %}
            {% if object.is_attuned %}
                <div class="tl-kv">
                    <span>Attuned</span>
                    <span class="tl-kv__v">
                        {% if object.attuned_to %}
                            {{ object.attuned_to.name }}
                        {% else %}
                            Yes
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
    </section>
    {% if object.inscriptions %}
        <section class="tl-section tl-span-8" id="inscriptions">
            <div class="tl-section__head">
                <span class="tl-section__num"></span>
                <h2 class="tl-section__title">Inscriptions</h2>
            </div>
            <div class="tl-section__body">
                {% include "characters/tl/prose_block.html" with text=object.inscriptions %}
            </div>
        </section>
    {% endif %}
{% endblock additional_stats %}
