{% extends "game/tl/base.html" %}
{% comment %}A story: its name and whether its XP has been given.{% endcomment %}
{% load tl %}
{% block title %}{{ object.name }}{% endblock title %}
{% block cover_label %}{{ object.name }}{% endblock cover_label %}
{% block cover_top %}
    {{ block.super }}
    <a href="{% url 'game:story:list' %}">← Stories</a>
{% endblock cover_top %}
{% block cover_title %}
    <span class="tl-cover__eyebrow">Story</span>
    <h1 class="tl-cover__name {{ object.name|cover_title_class }}" data-fit-title>{{ object.name }}</h1>
{% endblock cover_title %}
{% block cover_body %}
    <div class="tl-facts">
        {% if object.xp_given %}{% fact "Status" "Finished · XP given" %}{% else %}{% fact "Status" "Current" %}{% endif %}
    </div>
{% endblock cover_body %}
{% block cover_actions %}
    {% if user.is_staff or user.is_superuser %}
        <a class="tl-btn tl-btn--ghost" href="{% url 'game:story:update' object.pk %}">Edit</a>
    {% endif %}
{% endblock cover_actions %}
{% block content %}
    <section class="tl-section">
        <div class="tl-section__head">
            <h2 class="tl-section__title">Story details</h2>
        </div>
        <div class="tl-section__body tl-factrow">
            <div>
                <span class="tl-subhead">Name</span>
                <span>{{ object.name }}</span>
            </div>
            <div>
                <span class="tl-subhead">Experience</span>
                <span>{% if object.xp_given %}Given{% else %}Not yet given{% endif %}</span>
            </div>
        </div>
    </section>
{% endblock content %}
