{% extends "game/tl/form.html" %}
{% block title %}{% if object.pk %}Update {{ object.name }}{% else %}Create Story{% endif %}{% endblock title %}
{% block form_eyebrow %}{% if object.pk %}Edit · Story{% else %}New story{% endif %}{% endblock form_eyebrow %}
{% block form_title %}{% if object.pk %}{{ object.name }}{% else %}Create Story{% endif %}{% endblock form_title %}
{% block cancel_url %}{% if object.pk %}{{ object.get_absolute_url }}{% else %}{% url 'game:story:list' %}{% endif %}{% endblock cancel_url %}
