{% extends "locations/core/location/detail.html" %}
{% comment %}A reality zone is not a place (no barriers or scenes): practices, then where it applies.{% endcomment %}
{% block barriers %}{% endblock barriers %}
{% block reality_zone %}
    {% include "locations/mage/reality_zone/display_includes/reality_zone.html" with zone=object span="tl-span-6" title="Practices" %}
{% endblock reality_zone %}
{% block additional_content %}
    {% include "locations/mage/reality_zone/display_includes/applied_to.html" %}
{% endblock additional_content %}
{% block post_content %}{% endblock post_content %}
