{% extends "characters/tl/ref2_detail.html" %}
{% load tl %}
{% block gameline %}wto{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:wraith:list:guild' %}">← Guilds</a>{% endblock ref_back %}
{% block ref_eyebrow %}Guild · Wraith{% endblock ref_eyebrow %}
{% block ref_facts %}
    {% fact "Guild type" object.get_guild_type_display %}
    {% fact "Willpower" object.willpower %}
{% endblock ref_facts %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
{% endblock ref_sections %}
