{% extends "characters/tl/ref2_detail.html" %}
{% block gameline %}dtf{% endblock gameline %}
{% block ref_back %}<a href="{% url 'characters:demon:list:faction' %}">← Factions</a>{% endblock ref_back %}
{% block ref_eyebrow %}Faction · Demon{% endblock ref_eyebrow %}
{% block ref_actions %}
    {% if user.is_authenticated %}
        <a class="tl-btn tl-btn--ghost" href="{{ object.get_update_url }}">Edit</a>
    {% endif %}
{% endblock ref_actions %}
{% block ref_sections %}
    {% include "characters/tl/ref2_prose.html" with title="Philosophy" text=object.philosophy %}
    {% include "characters/tl/ref2_prose.html" with title="Goal" text=object.goal power=True %}
    {% include "characters/tl/ref2_prose.html" with title="Leadership" text=object.leadership %}
    {% include "characters/tl/ref2_prose.html" with title="Tactics" text=object.tactics %}
    {% include "characters/tl/ref2_prose.html" with title="Description" text=object.description %}
    {% if not object.philosophy and not object.goal and not object.leadership and not object.tactics and not object.description %}
        {% include "core/tl/empty.html" with text="No details recorded for this faction yet." %}
    {% endif %}
{% endblock ref_sections %}
