{% extends "core/form.html" %}
{% comment %}
Create / edit a merit or flaw: name, the ratings it can be taken at, the character
types allowed to take it, and its description.
{% endcomment %}
{% block content_mod %}{% endblock content_mod %}
{% block creation_title %}Create Merit/Flaw{% endblock creation_title %}
{% block errors %}
    {% include "core/misc/form_errors.html" %}
{% endblock errors %}
{% block contents %}
    {% include "core/tl/field.html" with field=form.name %}
    <div class="tl-formgrid tl-formgrid--2">
        {% include "core/tl/field.html" with field=form.ratings help=form.ratings.help_text %}
        {% include "core/tl/field.html" with field=form.allowed_types label="Allowed character types" help=form.allowed_types.help_text %}
    </div>
    {% include "core/tl/field.html" with field=form.description %}
{% endblock contents %}
