{% load tl %}
{% comment %}Changeling cover facts: Kith, Seeming (House when set), Court, Legacies, Nature, Demeanor.{% endcomment %}
{% fact "Kith" object.kith %}
{% if object.house %}
    {% fact "House" object.house %}
{% else %}
    {% fact "Seeming" object.get_seeming_display %}
{% endif %}
{% fact "Court" object.get_court_display %}
{% if object.seelie_legacy or object.unseelie_legacy %}
    <div class="tl-facts__row">
        <span class="tl-facts__k">Legacies</span>
        <span class="tl-facts__v">
            {% if object.seelie_legacy %}<a href="{{ object.seelie_legacy.get_absolute_url }}" title="Seelie Legacy">{{ object.seelie_legacy }}</a>{% endif %}{% if object.seelie_legacy and object.unseelie_legacy %} / {% endif %}{% if object.unseelie_legacy %}<a href="{{ object.unseelie_legacy.get_absolute_url }}" title="Unseelie Legacy">{{ object.unseelie_legacy }}</a>{% endif %}
        </span>
    </div>
{% endif %}
{% fact "Nature" object.nature %}
{% fact "Demeanor" object.demeanor %}
