{% extends "characters/changeling/tl/form.html" %}
{% block creation_title %}Create Changeling{% endblock creation_title %}
{% block formdetails %}method="post" id="changelingForm" action="" novalidate enctype="multipart/form-data"{% endblock formdetails %}
{% block contents %}
    <p class="tl-lede">Decide identity and motivation; choose concept, Court, Seeming, Legacies and Kith.</p>
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.concept %}
        {% include "core/tl/field.html" with field=form.chronicle %}
        {% include "core/tl/field.html" with field=form.court %}
        {% include "core/tl/field.html" with field=form.seeming %}
        {% include "core/tl/field.html" with field=form.kith %}
        {% include "core/tl/field.html" with field=form.seelie_legacy label="Seelie legacy" %}
        {% include "core/tl/field.html" with field=form.unseelie_legacy label="Unseelie legacy" %}
        {% include "core/tl/field.html" with field=form.house %}
    </div>
    {% include "characters/changeling/tl/basics_portrait.html" %}
{% endblock contents %}
