<div class="row mb-4">
    <div class="col-12">
        <div class="tg-card">
            <div class="tg-card-header">
                <h5 class="tg-card-title ctd_heading">Basics</h5>
            </div>
            <div class="tg-card-body">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <strong>Seelie Legacy:</strong>
                    </div>
                    <div class="col-sm-3">
                        <a href="{{ object.seelie_legacy.get_absolute_url }}">{{ object.seelie_legacy }}</a>
                    </div>
                    <div class="col-sm-3">
                        <strong>Court:</strong>
                    </div>
                    <div class="col-sm-3">{{ object.get_court_display }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <strong>Unseelie Legacy:</strong>
                    </div>
                    <div class="col-sm-3">
                        <a href="{{ object.unseelie_legacy.get_absolute_url }}">{{ object.unseelie_legacy }}</a>
                    </div>
                    <div class="col-sm-3">
                        <strong>Kith:</strong>
                    </div>
                    <div class="col-sm-3">
                        <a href="{{ object.kith.get_absolute_url }}">{{ object.kith }}</a>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-sm-2">
                        <strong>Concept:</strong>
                    </div>
                    <div class="col-sm-4">{{ object.concept }}</div>
                    <div class="col-sm-2">
                        <strong>{% if object.house %}House{% else %}Seeming{% endif %}:</strong>
                    </div>
                    <div class="col-sm-4">
                        {% if object.house %}
                            <a href="{{ object.house.get_absolute_url }}">{{ object.house }}</a>
                        {% else %}
                            {{ object.get_seeming_display }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
