{% extends "characters/changeling/ctdhuman/detail.html" %}
{% comment %}
Changeling sheet (Spread C17): Arts (--acc) beside Advantages (Glamour, Banality,
Willpower), Realms as the line block, then Backgrounds / Health / Merits in three columns.
{% endcomment %}
{% block basics %}
    {% include "characters/changeling/changeling/basics_display_include.html" %}
{% endblock basics %}
{% block powers %}
    {% include "characters/changeling/changeling/arts_display.html" %}
{% endblock powers %}
{% block advantages %}
    {% include "characters/changeling/changeling/advantages_display.html" %}
{% endblock advantages %}
{% block backgrounds %}{% endblock backgrounds %}
{% block line %}
    {% include "characters/changeling/changeling/realms_display.html" %}
    {% include "characters/tl/backgrounds.html" with backgrounds=object.backgrounds span="tl-span-4" %}
{% endblock line %}
{% block health %}
    {% include "characters/core/human/health_block_display.html" with span="tl-span-4" %}
{% endblock health %}
{% block mfs %}
    {% include "characters/tl/merits.html" with span="tl-span-4" %}
{% endblock mfs %}
{% block appearance %}
    {% include "characters/tl/appearance.html" with extra_label="Fae Mien" extra_value=object.fae_mien %}
{% endblock appearance %}
{% block history %}
    {% include "characters/changeling/changeling/history_display.html" %}
{% endblock history %}
