{% extends "characters/werewolf/tl/form.html" %}
{% block creation_title %}Create Totem{% endblock creation_title %}
{% block contents %}
    <div class="tl-formgrid">
        {% include "core/tl/field.html" with field=form.name %}
        {% include "core/tl/field.html" with field=form.cost %}
        {% include "core/tl/field.html" with field=form.totem_type label="Type" %}
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.individual_traits %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.pack_traits %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.ban %}</div>
        <div class="tl-field--full">{% include "core/tl/field.html" with field=form.description %}</div>
    </div>
{% endblock contents %}
